<footer id="footer">
    <div class="container">
        <div class="row">
            <h2 class="text-center contact-us">联系我们</h2>
            <div class="col-md-4">
                <div class="">若您有赞助、参展或成为演讲嘉宾意向，请联系：</div>
                <div class="contact-usstyle">
                    <p class="">summer.tiger@viewfin.com</p>
                    <p class="">+86 21 60758511</p>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="pd-lt">主办方：</div>
                <div class="contact-usstyle pd-lt">
                    <p class="">元界基金会&nbsp&nbsp&nbspICOCOIN</p>
                </div>
                <div class="pd-lt">协办媒体：</div>
                <div class="contact-usstyle pd-lt">
                    <p class="">金色财经&nbsp&nbsp&nbsp巴比特</p>
                </div>
            </div> -->
            <div class="col-md-4 social">
                <div>社交媒体</div>
                <a href="https://www.facebook.com/Finwise-456119451417070/?ref=aymt_homepage_panel">
                    <img  src="images/finwise/facebook.png" alt="facebook">
                </a>
                <a href="https://twitter.com/finwise_org">
                    <img  src="images/finwise/twitter.png" alt="twitter">
                </a>
            </div>
            <!-- <div class="col-md-4 social">
                <div>微信公众号</div>
                <img src="images/finwise/Wechat.jpg" id="wechat-img">
            </div> -->
        </div>
        
    </div>
</footer>


<div class="go-top">
    <a href="#top">
        <i class="hc-angle-up"></i>
    </a>
</div>

