<footer id="footer">
    <div class="container">
        <div class="row">
            <h2 class="text-center contact-us">Contact us</h2>
            <div class="col-md-4">
                <div class="">If you would like to participate in the event either by sponsoring, speaking or presenting your product, please contact:</div>
                <div class="contact-usstyle">
                    <p class="">summer.tiger@viewfin.com</p>
                    <p class="">+86 21 60758511</p>
                 </div>
            </div>

            <!-- <div class="col-md-6 ">
                <div class="pd-lt">Organizer:</div>
                <div class="contact-usstyle pd-lt">
                    <p class="">Metaverse Foundation&nbsp&nbsp&nbspICOCOIN</p>
                </div>
                <div class="pd-lt">Media Sponsor:</div>
                <div class="contact-usstyle pd-lt">
                    <p class="">Jinse Finance&nbsp&nbsp&nbsp8BTC</p>
                </div>
            </div> -->
            <div class="col-md-4 social">
                <div>Socail Media</div>
                <a href="https://www.facebook.com/Finwise-456119451417070/?ref=aymt_homepage_panel">
                    <img  src="images/finwise/facebook.png" alt="facebook">
                </a>
                <a href="https://twitter.com/finwise_org">
                    <img  src="images/finwise/twitter.png" alt="twitter">
                </a>
            </div>
            <div class="col-md-4 social">
                <div>WeChat Official Accounts</div>
                <img src="images/finwise/Wechat.jpg" id="wechat-img">
            </div>
        </div>
    </div>
    
</footer>


<div class="go-top">
    <a href="#top">
        <i class="hc-angle-up"></i>
    </a>
</div>


