/*finwise 2018 gegin*/

@import "var";


::selection {
	background-color: $red-color;
	color: #fff;
}


ul,li,ol,dl{
	list-style: none;
}
.h1, .h2, .h3, h1, h2, h3, p, ul, ol, dl, * {
	//margin-top: 20px;
	//margin-bottom: 10px;

	margin: 0;
	padding: 0;
}

a, a:link, a:visited, a:hover, a:active {
	color: #fff;
	text-decoration: none;
}

body{
	background: $gray-color;
}
.show-ft{
	//display: block !important;
	height: 780px;
	overflow: hidden;
	&.active{
		height: auto;
		.col-md-2{
			display: block !important;
		}
	}
}
.co-sponsor-wrap{
	.show-allimg {
		height: 575px;
		overflow: hidden;
		&.active{
			height: auto !important;
			.col-md-2{
				display: block !important;
			}
		}
	}
}



.bg-white {
	background-color: #fff;
}

.cc-border{
	background: #F0F0F0;
	border: 1px solid #D9D9D9;

}
.font-w300{
	font-weight: 300;
}
.corange-btn.gray-nouse, .corange-btn.gray-nouse:hover, .gettiketsbox.gray-nouse, .gettiketsbox.gray-nouse:hover  {
	background: #999 !important;
	cursor: no-drop;
}
.corange-btn:hover{
	background:#e6166a !important;
}
//common style
.bg-showst {
	//background: url(../images/finwise/bg-big.jpg) no-repeat;
	width: 100%;
	background-position: center;
	height: 680px;
	background-size: cover;
	background-attachment: fixed;
}



.index-fwrap{
	background: url(../images/finwise-tokyo/index-bg.jpg) no-repeat;
	//@extend .bg-showst;
	//@include .bg-showst;
	//width: 100%;
	background-position: center 10px;
	height: 1050px;
	background-size: cover;
	//background-attachment: fixed;
	//margin: 0;
	//padding: 0;
	.index-bg {
		//height: 400px;
		//height: 500px;
		height: auto;
	}
	}




	#topnav {
		//position: absolute;
		//right: 0;
		//left: 0;
		//top: 0;
		//z-index: 8000;
		//background: none;
		//border: 0;
		//min-height: 62px;
		//-webkit-transition: all .4s ease;
		//transition: all .4s ease;
		position: fixed;
		background: #0D0D0D;
		min-height: 70px;
		height: 70px;

		& .navigation-menu > li > a {
			//line-height: 70px;
			padding: 0 20px;
			//line-height: 55px;
			//padding-left: 15px;
			//padding-right: 15px;
		}
		.logo {
			padding:  0;
		}
	}
	.nav-ht{
		height: 70px;
	}
	.finwise-logowrap{
		height: 70px;
		vertical-align: middle;
		display: table-cell;
	}

	.past-review{
		position: relative;
		color: #fff;
		font-size: 14px;
		cursor:pointer;
		.review-old{
			//display: none;
			position: absolute;
			//font-size: 14px;
			li{
				margin: 20px 0;
				& a:hover{
					color: #FF1D92;
				}
			}

			&.active{
				//background: #0D0D0D;
				//width: 100%;
			}
		}
		&.active .review-old{
			display: block;

		}

	}
	.lang-switch {
		&>*{
			display: inline-block !important;

		}
		a{
			padding: 0 1px !important;
		}
	}
	@media (min-width: 1220px){
		#navigation{
			margin-left: 180px;
		}
	}
	@media only screen and (min-width: 981px) and (max-width: 1219px) {
		#navigation{
			margin-left: 100px;
		}
	}
	@media (max-width: 992px){
		.index-fwrap {
			background: url(../images/finwise-tokyo/wap-bg.jpg) no-repeat;
			background-position: center 10px;
			height: 500px;
			background-size: cover;
		}


		//关于大会
		.Bg-fwwrap{
			//background-image: linear-gradient(0deg, #271445 0%, #060108 100%);
			//font-size: 14px;
			//color: #FFFFFF;

			.contact-wrap{
				margin-top: 0 !important;
				.col-md-6{
					//padding-right: 25px;
					//padding-left: 25px;
				}
				.h2-tl {
					//font-size: 36px;
					//margin: 62px 0 0;
					//margin:20px 0 40px;
				}
			}
		}

		.team-wrap{
			.col-md-2, .col-sm-3{
				padding-right: 6px;
				padding-left: 6px;
			}

		}



		.partner-wrap .col-md-2 img {
			margin-bottom: 12px !important;
			max-height: 92px;
		}
		.partner-wrap .col-md-3 {
			margin-bottom: 10px !important;
		}


		.partner-wrap img {
			//height: 72px;
			height: auto
		}



		//agenda begin
		.agenda-wrap {
				background: #FFFFFF;
				color: #000;
				margin: 100px auto 55px !important;
				padding: 50px;
				.day-plan{
					margin: 10px 0;
				}
				.plan-h2box{
					margin-bottom: 20px !important;
				}
				.fw-plantl{
					line-height: 1.5;
					font-size: 24px;

				}

			 .age-tbox {
				 th, td {
					 //border: 1px solid #ccc;
					 //text-align: left;
					 //padding: 5px 10px;
					 font-size: 13px !important;
				 }
			 }
			}
	}

	@media (min-width: 992px){

		//header
		#topnav #navigation {
			position: relative;
			left: inherit;
			width: auto;
			text-align: inherit;
			float: right;
			margin-left: 0;
		}

		#topnav {

			& .navigation-menu > li > a {
				font-size: 14px;
				line-height: 70px;
				padding: 0 !important;
				margin: 0 13px;
				//margin-right: 25px;
				//line-height: 55px;
				//padding-left: 15px;
				//padding-right: 15px;
				&.active{
					color: $red-color;
				}
			}
			.fg-line{
				margin: 0 25px 0 27px;
			}
			.lang-switch a{
				margin-right: 0 !important;
			}
			.logo {
				padding:  0;
			}
		}
		.past-review{
			position: relative;
			color: #fff;
			.review-old{
				display: none;
				position: absolute;
				top: 50px;
				//font-size: 14px;
				li{
					margin: 20px 0;
					letter-spacing: 1px;
					& a:hover{
						color: #FF1D92;
					}
				}

				&.active{
					background: #0D0D0D;
					width: 100%;
					text-align: center;
				}
			}
			&.active .review-old{
				display: block;
			}

		}


		.des-get{
			max-width: 335px;
			height: 400px;
		}

		//english style begin
		.en{
			.colorful-border, .des-get{
				//max-width: 335px;
				height: 535px;
			}
		}

		#lang-switch  a{
			//font-size: 12px !important;
			//color: #fff;
		}
		#lang-switch {
			//left: 90px;
			left: inherit;
			font-size: 12px !important;
			color: #fff;
		}



		.clogo-img {
			margin: 150px 0 50px 0;
			//margin: 150px 0 120px 0;
			//width: 380px;
		}

		.beginning-time{
			font-size: 30px;
			color: #FFFFFF;
			margin-bottom: 80px !important;
			//font-weight: lighter;
		}


		.count-wrap .col-md-1 {
			width: 25%;
		}

		.about-wrap .count-wrap .number{
			display: block;
			&.wap-num img{
				display: none;
			}
		}

		//.video-box {
		//
		//	.pc-vidimg{
		//		display: block;
		//	}
		//	.wap-vidimg{
		//		display: none;
		//	}
		//
		//}

		.index-bgdd{
			padding-top: 160px;
		}


		.mdpartner-wrap img{
			max-height: 65px;
		}
	}

	@media (min-width: 1400px){
		#topnav > .container {
			//position: relative;
			width: 1400px;
		}
		.im-welbox{
			&.container {
				width: 1400px;
			}
		}

		//参会入口，购票报名

		.tiketsex{
			//height: 260px;
			//overflow: hidden;

				.tkbox{
					//background-image: linear-gradient(-180deg, #DF22C2 0%, #6907CD 100%);
					//opacity: 0.7;
					//width: 540px;
					width: 620px;
					//min-height: 200px;
					//padding: 25px 18px 15px;

				}

				.tkbox-br{
					//position: absolute;
					//top: 0;
					//padding: 25px 18px 15px;
					//width: 540px;
					//min-height: 200px;
					width: 620px;
					//position: relative;
					//top: -195px;
				}
			}

	}

	@media only screen and (min-width: 490px) and (max-width: 700px) {
		.co-sponsor-wrap{
			.show-allimg {
				height:500px !important;
				overflow: hidden;
				&.active{
					height: auto;
					.col-md-2{
						display: block !important;
					}
				}
			}
		}
	}
@media only screen and (min-width: 780px) and (max-width: 990px) {
	.co-sponsor-wrap{
		.show-allimg {
			height:725px;
			overflow: hidden;
			&.active{
				height: auto;
				.col-md-2{
					display: block !important;
				}
			}
		}
	}
}

	@media only screen and (min-width: 300px) and (max-width: 990px) {

			#topnav {

				& .navigation-menu > li > a {
					//line-height: 70px;
					padding: 12px 20px;
					//line-height: 55px;
					//padding-left: 15px;
					//padding-right: 15px;
				}
				.logo {
					padding:  0;
					.finwise-logowrap {
						//height: 40px;
						height: 55px;
						vertical-align: middle;
						display: table-cell;
					}
				}
			}

			.past-review{
				//padding: 20px 20px;
				height: 140px;
				display: inline-block;
				float: left;
				text-align: left;
				.review-old{
					li{
						list-style: circle;
						margin-left: 55px;
					}
				}

			}

		.lang-switch{
			text-align: left;
			//padding:0 20px 20px;
			padding:15px 20px;
			a{
				border-bottom: none !important;
			}
		}

		.tikets-box{
			//position: absolute;
			//right: 0;
			//top: 22px;
			//z-index: 9999;
			.fg-line{
				padding: 0 0 20px !important;

			}
			.gettiketsbox{
				margin-left:  20px !important;
			}
		}
	}
	#topnav.stick .navigation-menu > li > a.fg-line:hover{
		color: #fff;
	}
	.gettiketsbox {
		background: #FF1D92;
		&:hover{
			background: #ec1886;
			text-decoration: none;
			color: #fff;
		}
		& a:hover{
			text-decoration: none;
			color: #fff;
		}
	}


	.gettiketsbox {
		display: block;
		padding-left:20px;
		padding-right:20px;
		height: 35px;
		line-height: 36px;
		//margin-left: 70px;
		//margin: 0 25px;
		text-align: center;
	}

	//home first screen


	.clogo-img {
		//margin: 170px 60px 60px 0;
		//width: 750px;
		width: 70%;
		//margin: 80px 60px 10px 0;
	}

	@media (min-width: 768px){
		#footer {
			background-color: #202020;
			padding: 40px 0 15px;
		}


		.beginning-time {
			font-size: 20px;
			color: #FFFFFF;
			font-weight: lighter;
			margin-bottom: 50px;
		}
		.red-btn{
			background: $red-color;
			width: 240px !important;
			height: 45px !important;
			line-height: 45px !important;
			display: inline-block;
			text-align: center;
			/* border-radius: 4px; */
			color: #fff;
			font-size: 18px;
			*{
				display: inline-block;
			}
		}

		.mar-left {
			margin-left: 50px;
		}

		//about begin

		.about-deswrap{


			.afw-des{
				color: $purple-color3;
				//font-weight: 400;
				font-size: 18px;
				line-height: 2;
				letter-spacing: 1px;
				margin: 0;
				&.first-p{
					margin-bottom: 30px;
				}
			}
		}



		//founder info

		.founder-box .fd-infobox {
			//padding: 40px 50px;
			margin-left: 275px;
			//overflow: hidden;
			//height: 100%;
			//color: #4F2F84;
		}



		.time-historywrap .dl-tbox.last-actbox{
			width: 45px !important;
			//width: 4.5%;
		}

	}
	@media (max-width: 768px){

		.show-ft {
			//height: 780px;
			//overflow: hidden;
			padding: 0 18px;
		}

		#topnav {

			& .navigation-menu > li > a {
				//line-height: 70px;
				padding: 12px 20px;
				font-size: 14px;
				//line-height: 55px;
				//padding-left: 15px;
				//padding-right: 15px;
			}
			.logo {
				padding:  0;
				.fwlogo{
					width: 150px !important;
				}
				.finwise-logowrap {
					//height: 40px;
					height: 55px;
					vertical-align: middle;
					display: table-cell;
				}
			}
		}

		.partner-wrap{
			.col-md-2, .col-md-3{
				padding: 0 5px;
				width: 33.33%;
			}

		}
		.show-allimg{
			padding: 0 15px;
		}


		.guest-item.mar-auto {
			margin:  0;
		}


		.clogo-img {
			/* width: 230px; */
			width: 65%;
			//margin: 160px 34px 80px 0 !important
		}


		//cooperation page
		.tb-qywrap table .type-sv {
			padding-left: 10px !important;
			font-size: 13px !important;
			line-height: 28px !important;
		}
		.de-count {
			font-size: 13px !important;
		}
		.check-i {
			width: 18px !important;
		}



		//wap styel begin
		.Bg-fwwrap .contact-wrap .col-md-6 {
			padding-right: 0 !important;
			padding-left: 0 !important;
		}

		#footer {
			//background-color:$purple-color2;
			//padding: 40px 0 15px;
			background-color:#fff;
			.footer-spewrap{
				background-color:$purple-color2;
			}
			//.fim-tl {
			//	font-size: 20px;
			//	border-bottom: none;
			//	padding-bottom: 0;
			//	margin-bottom: 18px;
			//	font-weight: 400;
			//	border-left: 3px solid #fff;
			//	padding-left: 10px;
			//}
			//.contact-ussty{
			//	dt{
			//		float: none;
			//		/* display: inline-block; */
			//		height: auto;
			//		//width: 30%;
			//		min-width: 120px;
			//	}
			//	dd{
			//		width: 70%;
			//		text-align: left;
			//		margin-left: 0;
			//		//float: right;
			//	}
			//}


			//.col-md-wap{
			//	.col-md-6 {
			//		width: 50%;
			//	}
			//}

		}

		.footer-spewrap .fcon-wrap {
			float: left;
			margin-bottom: 30px;
			//padding: 0 25px !important;
		}



		.red-btn{
			background: $red-color;
			width: 160px;
			height: 36px;
			line-height: 38px;
			display: inline-block;
			text-align: center;
			/* border-radius: 4px; */
			color: #fff;
			font-size: 16px;
			//@extend .cc-btn;
			*{
				display: inline-block;
			}
		}



		.ot-listwrap{
			//.col-md-4 {
			//	width: 100%;
			//}
			//.h3-title {
			//	font-size: 20px;
			//	margin-bottom: 20px;
			//}
			//.colorful-border{
			//	margin:30px auto;
			//	max-width: 420px;
			//	//min-height: 440px;
			//	height: auto;
			//	//height: 440px;
			//}
			//.des-get {
			//	//font-size: 14px;
			//	//color: #FFFFFF;
			//	line-height: 26px;
			//	padding: 35px 25px;
			//}
			.des-detail {
				font-weight: 400;
			}
		}

		.co-sponsor-wrap .show-allimg {
			height: 624px;
			overflow: hidden;
		}

		.partner-wrap .col-md-2 img {
			//margin-bottom: 12px !important;
			//max-height: 92px;
			//height: 92px;
		}

		//about begin

		.about-deswrap.team-wrap{
			.h2-tlcom {
				//color: #4F2F84;
				font-size: 24px;
				//margin-bottom: 30px;
				margin: 50px 35px 15px !important;
			}
				&.container {
				//width: 100%;
				//margin: 0 15px !important;

			}
			.afw-des {
				color: #070340;
				font-size: 13px;
				line-height: 1.8;
				letter-spacing: .5px;
				text-align: justify;
				margin: 0;
				vertical-align: bottom;
				&.first-p {
					margin-bottom: 15px;
				}
			}
		}



		.pd-tb {
			//padding: 35px 0 !important;
			padding:45px 40px !important
		}

		.team-wrap{
			.col-md-3 {
				width:100%;
				height: 320px;
				margin: 20px 0 !important;
				padding: 0;
				.team-bbox {
					margin: 0 auto;
					width: 250px;
					height: 320px !important;

					.team-ph {
						width: 250px;
						height: auto;


					}
				}
			}
			.h2-tlcom {
				//color: #4F2F84;
				font-size: 24px;
				//margin: 45px 35px 25px !important;
			}
			&.pd-tb {
				//padding: 35px 0 !important;
				padding:0 35px 45px !important
			}
		}

		.coreteam-wrap{
			.h2-tlcom {
				margin-bottom: 25px;
			}
		}
		//founder info


		.founder-box {
			background: #fff;
			margin-left: 0 !important;
			.fd-photobox {
				//float: none !important;
				text-align: center;
			}
		}

		.fd-infobox {
			//padding: 40px 50px;
			//margin-left: 0 !important;
			overflow: hidden;
			height: 100%;
			color: #4F2F84;
		}
		.founder-ph {
			width: 180px !important;
			height: 180px  !important;
			//border-radius: 5px 0 0 5px;

		}


		//team begin
		.founder-box{
			//background: #FFFFFF;
			//box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
			//border-radius: 5px;
			////height: 100%;
			//height: 275px;
			//max-width: 745px;
			//width: 100%;
			//margin: 0 auto;
			padding: 40px 50px 32px !important;
			height: auto !important;
			.fd-photobox{
				//float: left;

			}
			.founder-ph{
				width: 275px;
				height: 275px;
				border-radius:0 !important;
			}
			.fd-infobox{
				//padding: 40px 50px;
				//margin-left: 275px;
				overflow: hidden;
				height: 100%;
				color: $purple-color;
				padding: 0 !important;
				//margin-top: 35px;
				margin-top: 8px;
				margin-left: 220px;
				.foundername{
					font-size: 18px !important;
					line-height: 1.2;
				}
				.position-fd{
					font-size: 13px !important;
				}
				.founder-des{
					margin-top: 15px !important;
					font-size: 13px !important;
					line-height:1.8 !important;
					margin-top: 25px;
					line-height: 29px;
					text-align: justify;
				}

			}

		}




		.time-historywrap {
			.dl-tbox {
				//width: 16%;
				//display: inline-block;
				//position: relative;
				//overflow: hidden;
				height: 150px !important;
				&.act{
					.city-lj{
						color:#fff !important;
						font-weight: 700 !important;
					}
				}
			}
			.circle-p{
				margin: 0 0 20px 15px !important;
			}
			.tr-addr {
				font-size: 16px !important;
				color: rgba(255, 255, 255, .8) !important;
				font-weight: 300;
			}
		}


		.font24{
			font-size: 24px !important;
		}


		.about-finwise.h2-tl{
			//@extend .font24;
			font-size: 24px !important;
			margin: 40px auto 30px !important;
			.about-intr {
				//color: #ccc;
				font-size: 14px !important;
			}
		}
		.h2-tl, .h2-tlcom {
			//color: #4F2F84;
			font-size: 24px !important;
			//margin-bottom: 30px;
			// @extend .font24;
			// @include .font24;
		}

		.Bg-fwwrap .abfw-des {
			line-height: 1.8 !important;
			letter-spacing: 1px;
			font-size: 14px !important;
			margin: 10px 0px;
			color: #070340;
		}


		.show-all, .show-hide{
			font-size: 14px !important;
			width: 180px !important;
			height: 40px !important;
			line-height: 40px !important;
		}

		.guest-item .h2-tl {
			//margin: 30px 0 45px !important;
		}

		.plan-wrap {
			//height: 600px !important;
			.plan-img {

				//max-width: 680px;
				width: 70% !important;
				//margin: 70px 0 50px;
			}
		}
		.city-lj{
			//margin-left: 7px;
			letter-spacing: 2px;
			-webkit-writing-mode: vertical-rl;
			writing-mode: vertical-rl;
			margin-left: 8px !important;
			&.tr-date{
				margin: 15px  10px  10px 9px !important;

			}

		}



		//about begin
		.team-wrap{
			.col-md-3 {
				//width:50%;
				//margin: 12px 0 !important;
				//float: left;
				.team-bbox {
					//margin: 0 auto;
					//width: 280px;
					//height: 375px;
					height: 350px;
					.team-ph {
						//width: 300px;
						//height: 260px;
					}
					.foundername {
						font-size: 18px;
						//color: #333333;
						//line-height: 1.2;
						.position-info {
							font-size: 12px;
						}
					}
				}
			}
		}


		.contact-usinfo * {
			font-weight: 400 !important;
			//line-height: 2.2;
		}



		//visa begin
		.visa-fwrap{
			margin: 110px auto 40px !important;
			&.container {
				//width: 690px;
			}
			.im-tips {
				margin: 35px 0 25px;
				//font-size: 18px;
			}
			.mar-tb45 {
				margin: 25px 0;
			}
		}


		//footer begin
		#footer .fim-tl {
			font-size: 16px !important
		}
	}

@media (width: 768px){

	.index-fwrap {
		height: 850px !important;
		padding-top: 120px !important;
	}

	.clogo-img {
		/* width: 230px; */
		width: 60%;
	}


	.co-sponsor-wrap .show-allimg {
		height: 622px !important;
	}
	.partner-wrap .col-md-2 {

		img.lazy {
			//margin-bottom: 12px !important;
			height: 92px;
		}
	}


	.city-lj.tr-date {
		margin: 15px 10px 10px 12px !important;
	}

	//visa begin
	.visa-fwrap{
		margin: 110px auto 40px !important;
		&.container {
			width: 690px;
		}
		.im-tips {
			margin: 35px 0 25px;
			//font-size: 18px;
		}
		.mar-tb45 {
			margin: 25px 0;
		}
	}
}

@media only screen and (min-width: 414px) and (max-width: 768px) {
	.plan-wrap {
		height: 540px !important;
		.plan-img {

			//max-width: 680px;
			//width: 90% !important;
			//margin: 70px 0 50px;
		}
	}

	.slideBox{
		height: 230px !important;
		line-height: 230px !important;
	}
}


@media (max-width: 320px){
	#topnav .tikets-wapbox {
		//position: absolute;
		//top: 8px;
		right: 40px !important;
		//z-index: 9999;
	}

	//Team begin
	.founder-ph {
		width: 150px !important;
		height: 150px !important;
	}
	.founder-box {
		padding: 30px 30px !important;
		height: auto !important;
	}
}

	@media only screen and (min-width: 300px) and (max-width: 412px) {
		.index-fwrap{
			//height: 500px !important;

		}
		.clogo-img {
			/* width: 230px; */
			margin: 30px 0 30px 0 !important;
		}
	}
	@media (max-width: 320px) {

		.show-ft {
			height: 660px !important;
			overflow: hidden;
		}


		.co-sponsor-wrap{
			.show-allimg {
				//height:450px !important;
				//overflow: hidden;
				//&.active{
				//	height: auto;
				//	.col-md-2{
				//		display: block !important;
				//	}
				//}
			}
		}
	}
	@media  (max-width: 375px) {
		.co-sponsor-wrap{
			.show-allimg {
				//height:518px !important;
				//overflow: hidden;
				//&.active{
				//	height: auto;
				//	.col-md-2{
				//		display: block !important;
				//	}
				//}
			}
		}
	}

	@media only screen and (min-width: 376px) and (max-width: 414px) {
		.co-sponsor-wrap{
			.show-allimg {
				//height:550px !important;
				//overflow: hidden;
				//&.active{
				//	height: auto;
				//	.col-md-2{
				//		display: block !important;
				//	}
				//}
			}
		}
	}
	@media (max-width: 575px) {
		//founder info
		.founder-box {
			background: #fff;
			padding: 35px 40px !important;
			.fd-photobox {
				float: none !important;
				text-align: center;
			}
		}

		.fd-infobox {
			//padding: 40px 50px;
			margin: 20px 0 0 0 !important;
			overflow: hidden;
			height: 100%;
			color: #4F2F84;
			text-align: center;

		}
		.founder-ph {
			width: 150px !important;
			height: 150px  !important;
			//border-radius: 5px 0 0 5px;

		}

		#footer .col-md-wap .logo-footer {
			max-height: 70px !important;
		}
		#wechat-img {
			height: 80px !important;
		}


		.ot-listwrap {
			.h3-title {
				font-size: 16px !important;
			}
			.des-get {
				line-height: 2 !important;
				padding: 35px 25px;
				font-size: 13px;
				text-align: justify;
			}
		}
		.geth2-title{
			font-size: 16px !important;
		}
		.tb-qywrap table th {
			//height: 40px;
			line-height: 1.8 !important;
			padding: 7px !important;
		}

		.cont-cm .ct-lists {
			font-size: 13px !important;
			line-height: 2;
		}

	}
	@media only screen and (min-width: 415px) and (max-width: 575px) {
		.partner-wrap .col-md-2 img {
			//margin-bottom: 12px !important;
			//max-height: 92px;
			//height: 46px !important;
		}
		.co-sponsor-wrap .show-allimg {
			height: 414px !important;
			//overflow: hidden;
		}


		//founder info
		.founder-box {
			background: #fff;
			.fd-photobox {
				float: none !important;
				text-align: center;
			}
		}

		.fd-infobox {
			//padding: 40px 50px;
			margin-left: 0 !important;
			overflow: hidden;
			height: 100%;
			color: #4F2F84;
		}
		.founder-ph {
			width: 180px !important;
			height: 180px  !important;
			//border-radius: 5px 0 0 5px;

		}


	}
	@media only screen and (min-width: 300px) and (max-width: 415px) {



		.index-fwrap{
			height: 550px !important;
			padding-top: 100px;
		}

		.count-wrap.wap-show .title {
			font-size: 12px !important;
			color: #fff;
			margin-top: 10px !important;
		}


		.index-bg {
			/* width: 1000px; */
			height: 550px !important;
		}
		.welcome-text{
			font-size: 12px !important;
		}

		.clogo-img {
			/* width: 230px; */
			//margin: 50px 0 50px 0 !important;
			margin: 50px 0 50px 0;
		}

		.h2-tl {
			//font-size: 36px;
			//margin: 80px 0 80px !important;
			//font-weight: 700;
			margin:50px 0 30px !important;
		}
		.data-item .col-md-1:last-child {
			margin-bottom: 0 !important;
		}
		.Bg-fwwrap .contact-wrap {
			margin-top: 40px !important;
		}
		.mar-auto, .A-wrap {
			margin: 0px auto 0;
		}
		.tb-qywrap table {
			font-size: 12px !important;
			.type-sv {
				padding-left: 5px !important;
				font-size: 12px !important;
				line-height: 20px !important;
			}
		}


		.about-wrap .count-wrap {
			.title{
				font-size: 12px !important;
				margin-left: 0px;
				//margin-top: 0 !important;
			}
			.number{
				display: none;
				img{
					//height: 45px;
					height: auto;
				}
				&.wap-num{
					display: block;
				}
			}
		}


		//wap style begin

		.guest-item{
			.show-ft .col-md-2 {
				width: 50%;
			}
		}



		.Bg-fwwrap .contact-wrap .h2-tl {
			margin: 10px auto 25px !important;
			text-align: center;
		}


		.about-finwise.h2-tl, .guest-item .h2-tl  {
			font-size: 24px !important;
			//margin: 40px auto 30px !important;
			//padding: 0 28px 0px;
			//margin: 120px 0 80px;
			//font-weight: 700;
			//background: url(../images/finwise-tokyo/tl-line.png) repeat-x;
			///* background-size: 50%; */
			//display: inline-block;
			//background-position: bottom;
		}


		.red-btn{
			background: $red-color;
			width: 160px;
			height: 36px;
			line-height: 36px;
			display: inline-block;
			text-align: center;
			/* border-radius: 4px; */
			color: #fff;
			font-size: 14px;
			//@extend .cc-btn;
			*{
				display: inline-block;
			}
		}
		.beginning-time {
			font-size: 20px;
			color: #FFFFFF;
			font-weight: lighter;
			margin-bottom: 20px;
		}
		.mar-left{
			margin-left: 20px;
		}

		.data-item .col-md-1 {
			margin: 20px 0 !important;
			padding: 0 2px !important;
			//width: 25%;
			//height: auto;
		}

		.about-finwise.h2-tl, .guest-item .h2-tl  {
			//font-size: 24px !important;
			//margin: 40px auto 30px !important;
			//padding: 0 28px 0px;
			//margin: 120px 0 80px;
			//font-weight: 700;
			//background: url(../images/finwise-tokyo/tl-line.png) repeat-x;
			///* background-size: 50%; */
			//display: inline-block;
			//background-position: bottom;
		}
		.Bg-fwwrap .abfw-des {
			text-align: justify;
			font-size: 14px !important;

		}
		.show-ft {
			height: 680px !important;
			overflow: hidden;
		}
		.guest-item .col-md-2 {
			//text-align: center;
			//margin-bottom: 20px;
			height: 210px !important;
			.pl-info {
				//font-size: 12px;
				//color: #4F2F84;
				width: 90% !important;
				margin: 0 auto;
			}
		}

		.footer-wrap .col-md-2 {
			//width: 50%;
			//float: left;
			width: 33.33%;

		}


		.show-all, .show-hide {
			cursor: pointer;
			background: #FF1D92;
			width: 150px !important;
			height: 35px !important;
			text-align: center;
			line-height: 35px !important;
			font-size: 14px !important;
			color: rgba(255, 255, 255, 0.9);
			margin: 0 auto 30px;
			display: block;
		}


		#footer{
			.fim-tl {
				font-size: 16px !important;
			}
			.col-md-wap {
				//width: 100%;
				padding: 18px 15px 12px!important;
			}
			.footer-spewrap{
				//background-color:$purple-color2;
				//width: 100%;
				//padding: 25px;
				.fcon-wrap {
					//float: left;
					//margin-bottom: 20px;
					//padding:0;
					//padding: 0 20px;
				}
				.row{
					padding: 25px 20px !important;
				}
				.col-md-spe25{
					//margin-bottom: 20px;
				}
			}
		}



		//cooperation

		.cooperation-wrap{
			.fm-wrap {
				margin-top: 100px !important;
			}
		}


		.cont-cm{
			 .contact-tl {

					//margin: 0  !important;
				}
		}
		.im-contact {

			margin: 5px 0 10px 0;

		}

		//brand logo
		.partner-wrap img {
			//height: 80px;
		}

		//about wap
		.slideBox{
			height: 160px !important;
			line-height: 160px !important;
		}
		.plan-wrap .plan-img {
			//margin: 50px 0 50px !important;
			width: 80% !important;
		}
		.h2-tlcom {
			//color: #4F2F84;
			font-size: 20px !important;
			//margin-bottom: 30px;
		}
		.plan-wrap{
			height: 410px !important;
			padding: 50px 0 25px !important;
		}


		.partner-wrap .col-md-2 img {
			//height:70px;
		}

	}

@media only screen and (min-width: 414px) and (max-width: 515px) {
	.index-fwrap{
		height: 600px !important;
		//padding-top: 100px;
	}
	}
	@media only screen and (min-width: 416px) and (max-width: 767px) {
		//wap style begin
		.red-btn{
			background: $red-color;
			width: 160px;
			height: 36px;
			line-height: 38px;
			display: inline-block;
			text-align: center;
			/* border-radius: 4px; */
			color: #fff;
			font-size: 16px;
			//@extend .cc-btn;
			*{
				display: inline-block;
			}
		}




		.beginning-time {
			font-size: 20px;
			color: #FFFFFF;
			font-weight: lighter;
			margin-bottom: 50px;
		}

		.clogo-img {
			/* width: 230px; */
			//width: 100%;
			margin: 120px 0 50px 0 !important;

		}


		.index-fwrap {
			height: 650px !important;
		}


		//about begin

		//.h2-tlcom {
		//	font-size: 24px !important;
		//}

		.about-deswrap{


			.afw-des{
				color: $purple-color3;
				//font-weight: 400;
				font-size: 14px;
				line-height: 1.8;
				letter-spacing: 0.6px;
				margin: 0;
				&.first-p{
					margin-bottom: 20px;
				}
			}
		}

	}
	@media  (max-width: 575px) {
		.time-historywrap {
			//.dl-tbox {
			//	//width: 16%;
			//	//display: inline-block;
			//	//position: relative;
			//	//overflow: hidden;
			//	height: 175px !important;
			//	&.act{
			//		.city-lj{
			//			color:#fff !important;
			//			font-weight: 700 !important;
			//		}
			//	}
			//}
			//.circle-p{
			//	margin: 0 0 20px 15px !important;
			//}
			.tr-addr {
				//font-size: 14px !important;
				//color: rgba(255, 255, 255, .8) !important;
				//font-weight: 300;
			}
			.line-c{
				display: none !important;
			}
			.ht-con{
				//left: 12px !important;
				left: -6px !important;
			}

		}


		.time-historywrap {
			.ht-con{
				//position: inherit !important;
				float: none !important;
				//left: 15px !important;
				text-align: center;
				margin: 0 auto;
			}
			.line-c{
				display: none !important;
			}
		}
	}
	@media only screen and (min-width: 300px) and (max-width: 767px) {
		.index-bgdd{
			&.container {
				width: 100%;
				//padding: 0 50px;
			}
		}
		.welcome-text{
			font-size: 14px;
		}


		.time-historywrap {
			//.dl-tbox {
			//	//width: 16%;
			//	//display: inline-block;
			//	//position: relative;
			//	//overflow: hidden;
			//	height: 175px !important;
			//	&.act{
			//		.city-lj{
			//			color:#fff !important;
			//			font-weight: 700 !important;
			//		}
			//	}
			//}
			//.circle-p{
			//	margin: 0 0 20px 15px !important;
			//}
			.tr-addr {
				font-size: 14px !important;
				//color: rgba(255, 255, 255, .8) !important;
				//font-weight: 300;
			}
			//.line-c{
			//	display: none !important;
			//}
		}
		//.city-lj.tr-date {
		//	margin: 15px 10px 10px 8px !important;
		//}

	}

	//参会入口，购票报名

	.tiketsex{
		height: 260px;
		overflow: hidden;

		.tkbox{
			background-image: linear-gradient(-180deg, #DF22C2 0%, #6907CD 100%);
			opacity: 0.7;
			//width: 540px;
			//width: 620px;
			min-height: 200px;
			//padding: 25px 18px 15px;

		}
		.tkbox-br{
			//position: absolute;
			//top: 0;
			padding: 25px 18px 15px;
			//width: 540px;
			min-height: 200px;
			//width: 620px;
			position: relative;
			top: -200px;
		}
		.xx-title{
			font-size: 24px;
			color: #FFFFFF;
		}
		.tk-des{
			font-size: 14px;
			color: rgba(255,255,255,0.90);
			margin: 25px 0 20px;
			//height: 30px;
			//margin: 22px 0 20px;
			//height: 24px;
		}
		.tk-price{
			font-size: 30px;
			color: #fff;
			line-height: 20px;
		}
		.el-tk{
			margin-right: 30px;
		}
	}
.en {
	.tiketsex{
		.tk-des{
			font-size: 14px;
			color: rgba(255,255,255,0.90);
			margin: 25px 0 20px;
			//height: 30px;
			//margin: 22px 0 20px;
			height: 35px;

			&.tk-spedes{
				line-height: 35px;
			}
		}
	}

}

@media only screen and (min-width: 300px) and (max-width: 585px) {
	.en{


		.tiketsex {
			.tkbox-br {
				//padding: 25px 18px 15px;
				//min-height: 180px;
				//position: relative;
				top: -290px !important;
				max-width: 540px !important;
				margin: 0 auto  !important;
				min-height: 260px !important;
				.tk-des {
					//margin: 20px 0 15px;
				}
			}
		}
		.tkbox {
			//background-image: linear-gradient(-180deg, #DF22C2 0%, #6907CD 100%);
			//opacity: 0.7;
			min-height: 260px !important;
		}

		 .tiketsex {
			margin-bottom: 30px;
			.tk-des {
				//font-size: 14px;
				//color: rgba(255, 255, 255, 0.9);
				//margin: 25px 0 20px;
				height: 80px !important;
				line-height: 40px !important;
				&.tk-desleft{
					line-height: 30px !important;
				}
			}
		}
		.buy-tk{
			display: block;
		}
	}
}

	@media only screen and (min-width: 300px) and (max-width: 1207px) {
		.tiketsex .tkbox-br {
			//padding: 25px 18px 15px;
			//min-height: 180px;
			//position: relative;
			top: -230px;
			max-width: 540px;
			margin: 0 auto;
			.tk-des {
				//margin: 20px 0 15px;
			}
		}
	}
	@media only screen and (min-width: 300px) and (max-width: 475px) {
		.buy-tk{
			display: inline-block;
		}
		.tiketsex .el-tk {
			margin: 0 0 15px;
		}

		.tiketsex{
			.tkbox {
				min-height: 230px;
			}
		}

		.tiketsex .tkbox-br {
			top: -255px;
		}

		.index-fwrap {
			//background: url(../images/finwise-tokyo/index-bg.jpg) no-repeat;
			//background-position: center;
			//height: 1050px;
			//background-size: cover;
			//height: 800px;
		}

		.en .tb-qywrap table th{
			padding: 0 5px;
		}
	}
@media only screen and (min-width: 474px) and (max-width: 992px) {
	.index-fwrap {
		//height: 1000px;
		//height: 972px !important

	}
	.clogo-img {
		//width: 80%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
	.index-fwrap {
		//height: 1200px;
		height: 1000px;
		padding-top: 150px;
	}



	.show-ft {
		height: 720px !important;
	}


	.about-deswrap {
		.afw-des {
			color: #070340;
			font-size: 16px !important;
			line-height: 2;
			letter-spacing: 0.8px !important;
			margin: 0;
				&.first-p {
					margin-bottom: 20px;
				}
		}
	}

}

	@media only screen and (min-width: 300px) and (max-width: 1205px) {
		.tiketsex.col-md-6{
			//max-width: 540px;
			width: 100%;
		}

		.tiketsex .tkbox {
			//background-image: linear-gradient(-180deg, #DF22C2 0%, #6907CD 100%);
			max-width: 540px;
			width: 100%;
			//height: 180px;
			//padding: 18px;
			//text-align: center;
			margin: 0 auto 30px;
		}


		.abfw-des{
			//@extend .font-w300;
			//line-height: 34px;
			//letter-spacing: 1.2px;
			//font-size: 16px;
			&:first-child{
				margin-top: 50px;
				letter-spacing: .8px;
			}
		}

	}





	//关于大会
	.Bg-fwwrap{
		background-image: linear-gradient(0deg, #271445 0%, #060108 100%);
		font-size: 14px;
		color: #FFFFFF;

		.contact-wrap{
			margin-top: 80px;
			.col-md-6{
				padding-right: 25px;
				padding-left: 25px;
			}
			.h2-tl {
				//font-size: 36px;
				//margin: 62px 0 0;
				//margin:20px 0 40px;
				margin:10px 0 20px;
			}
		}
	}
	.h2-tl{
		font-size: 36px;
		//text-align: center;
		margin: 120px 0 80px;
		font-weight: 700;

		//background: url(../images/finwise-tokyo/tl-line.png) no-repeat;
		/* background-size: 50%; */
		//display: inline-block;
		//background-position: bottom;
		//padding-bottom: 20px;
		//zoom: 0.5;
	}
	.about-finwise{
		&.h2-tl{
			font-size: 36px;
			//font-size: 72px;
			//text-align: center;
			//padding-bottom: 28px;
			padding: 0 28px 0px;
			margin: 120px 0 80px;
			font-weight: 700;

			background: url(../images/finwise-tokyo/tl-line.png)  repeat-x;
			/* background-size: 50%; */
			display: inline-block;
			background-position: bottom;
			//zoom: 0.5;
			.about-intr{
				color: $grayc-color;
				font-size: 18px;
			}
		}
	}

	.guest-item{
		.h2-tl{
			//font-size: 72px;
			margin: 120px 0 80px;
			font-weight: 700;
			background: url(../images/finwise-tokyo/tl-line.png) no-repeat;
			/* background-size: 50%; */
			//display: inline-block;
			//background-position: bottom;
			//padding: 0 50px 20px;

			display: inline-block;
			background-position: bottom;
			padding: 0 28px 0px;
			text-align: center;
		}
	}
	.about-wrap{
		.count-wrap{
			margin: 40px 0;
			overflow: hidden;
			width: 100%;
			.number {
				//font-size: 48px;
				//font-weight: 700;
				//-webkit-background-clip: text;
				//-webkit-text-fill-color: transparent;
				//background-image: linear-gradient(0deg, #7515CF 38%, #FF33E1 85%);
				//color: linear-gradient(0deg, #7515CF 38%, #FF33E1 85%);
				img{
					height: 65px;
				}
			}
			.title{
				@extend .font-w300;
				margin-top: 25px;
				font-size: 16px;
				margin-left: -25px;
			}

		}

	}


	.abfw-des{
		@extend .font-w300;
		line-height: 2.2;
		letter-spacing: 1.2px;
		font-size: 16px;
		//margin-left: 15px;
		margin: 15px 15px 15px 0;
		&:first-child{
			margin-bottom: 50px;
		}
		&.c-more{
			color: $gray-color;
			&:hover{
				//text-decoration: underline;
				//margin-bottom: 12px;
				color: $red-color;

			}
		}

	}

	@media  only screen and (min-width: 595px) and (max-width: 999px) {

		//about begin
		.h2-tlcom {
			//color: #4F2F84;
			font-size: 28px !important;
			//margin-bottom: 45px !important;
			//margin-bottom: 30px;
		}


		.team-wrap{
			.h2-tlcom {
				margin-bottom: 45px !important;
			}
			.col-md-3 {
				width:50%;
				height: 320px;
				margin: 15px 0 !important;
				float: left;
				.team-bbox {
					margin: 0 auto;
					width: 250px;
					height: 320px;
					.team-ph {
						width: 250px;
						height: auto;
						//height: 260px;
					}
					.foundername {
						font-size: 18px;
						//color: #333333;
						//line-height: 1.2;
						.position-info {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	@media only screen and (min-width: 1000px) and (max-width: 1199px) {

		//about begin
		.team-wrap{
			.col-md-3 {
				width:33.33%;
				.team-bbox {
					margin: 0 auto;
				}
			}
		}
	}
	@media only screen and (min-width: 990px) and (max-width: 1190px) {
		//.index-fwrap {
		//	height: 1200px;
		//}
		.Bg-fwwrap .contact-wrap .h2-tl {
			//margin: 42px 0 0;
		}
		.abfw-des {
			line-height: 1.6;
			letter-spacing: 0.5px;
			font-size: 15px;
			//margin: 15px;
		}

		.gettiketsbox {
			//display: block;
			//padding: 0;
			//width: 90px;
			//height: 35px;
			//line-height: 36px;
			//margin: 0 10px !important;
			//text-align: center;
		}


	}
	.foot-p .plname-info {
		//color: #333;
		font-size: 18px;
	}

	@media only screen and (min-width: 300px) and (max-width: 767px) {
		.foot-p .plname-info {
			//color: #333;
			font-size: 16px;
		}


		//agenda begin
		.agenda-wrap {
			background: #FFFFFF;
			color: #000;
			margin: 55px auto 0 !important;
			padding: 20px !important;
			.day-plan{
				margin: 10px 0;
			}
			.plan-h2box{
				margin-bottom: 15px !important;
			}
			.fw-plantl{
				line-height: 1.5;
				font-size:20px !important;

			}

			.age-tbox {
				th, td {
					//border: 1px solid #ccc;
					//text-align: left;
					//padding: 5px 10px;
					font-size: 12px !important;
				}
			}
		}
	}





	.guest-item {
		.col-md-2 {
			text-align: center;
			margin-bottom: 20px;
			height: 240px;
			display: none;
			&.showimg{
				display: block;
			}
			&.show-ft{
				//display: block !important;
				height: 720px;
				overflow: hidden;
				&.active{
					height: auto;
					.col-md-2.showimg{
						display: block;
					}
				}
			}
		}


		.photo-dbbox{
			border-radius: 50%;
			max-width: 100%;
			width: 126px;
			border: 2px solid #6A4AFF;
			padding: 4px;
			margin: 0 auto;
		}

		.foot-p {
			padding: 15px 5px;
		}

		img {
			//border-radius: 50%;
			//max-width: 70%;
			//border: 2px solid #6A4AFF;
			border: 1px solid rgba(106, 74, 255, 0.5);
			max-width:inherit;
			width: 115px;
		}
		.pl-info {
			//color: #999;
			font-size: 12px;
			color: rgba(255,255,255,0.50);
		}
	}

	.co-sponsor-wrap{
		.col-md-2{
			display: none;
			&.showimg{
				display: block;
			}
		}
	}
	.spe-cltl{
		//font-size: 36px;
		color: #4F2F84;
	}
	.spe-tlh3{
		//font-size: 24px;
		//color: #999999;
		color: $purple-color;
		margin: 30px auto 35px;
		font-weight: 700;
		text-align: center;
	}
	.union-wrap{
		padding-top: 20px;

	}
	.partner-wrap{
		.col-md-3{
			//padding: 0 30px 0 0;
			margin-bottom: 30px;
		}
		.col-md-2 img{
			@extend .cc-border;
			margin-bottom: 30px;
		}
		.cc-border{
			//background: #F0F0F0;
			background: #fff;
			border: 1px solid #D9D9D9;

		}
		img{
			width: 100%;
		}
	}

	//.union-wrap, .partner-wrap {
	//	.swatch-a{
	//		//width: 255px;
	//		max-width: 254px;
	//		text-align: center;
	//		height: 100px;
	//		line-height: 100px;
	//		vertical-align: middle;
	//		display: table-cell !important;
	//		//margin: 0 30px 30px 0;
	//		//padding: 0;
	//		padding-right: 15px;
	//		padding-left: 15px;
	//		margin-bottom: 30px;
	//		.lazy{
	//
	//			max-height: 100px;
	//		}
	//	}
	//}


	//.partner-wrap {
	//	.swatch-a{
	//		//width: 255px;
	//		//max-width: 190px;
	//		text-align: center;
	//		height: 70px;
	//		line-height: 70px;
	//		vertical-align: middle;
	//		display: table-cell !important;
	//		//margin-right: 30px;
	//		//padding-right: 0;
	//		.lazy{
	//
	//			max-height: 100px;
	//		}
	//	}
	//}


	//footer
	.footer-wrap {
		margin-bottom: 0;
	}
	//#footer{
	//	background-color:#202020;
	//	padding: 40px 0 15px;
	//}
	.footer-spewrap{
		.col-md-spe25 {
			//width: 25%;
		}
		.col-md-6{
			padding: 0 105px;
		}
		.fcon-wrap{
			float: left;
		}
	}

	.fim-tl{
		font-size: 20px;
		//color: #FFFFFF;
		border-bottom: 1px solid #979797;
		padding-bottom: 18px;
		margin-bottom: 18px;
		font-weight: 400;
	}
	.wechat-tl{
		font-weight: lighter;
		font-size: 14px;
	}
	.contact-usinfo {
		//color: #f9297d;
		//margin: 10px 0;
		font-size: 14px;
		*{
			font-weight: lighter;
			line-height: 2.2;
		}
	}
	.contact-ussty{
		margin-bottom: 20px;
		dt{
			float: left;
			/* display: inline-block; */
			height: 80px;
			//width: 30%;
			min-width: 120px;
		}
		dd{
			width: 70%;
			text-align: left;
			margin-left: 120px;
			//float: right;
		}
	}

	@media only screen and (min-width: 300px) and (max-width: 991px) {
		.index-fwrap{
			position: relative;
		}
		#topnav  {
			height: 55px;
			.toggle-inner{
				//background-color:#ff5599;
				background-color:$white-color;
				top: 56% !important;
			}
			&.stick .menu-toggle:hover .toggle-inner {
				background-color: $red-color !important;
			}
			&.stick .navigation-menu > li > a:hover {
				color: $red-color !important;
				background-color: transparent;
			}

			#navigation {
				top: 55px;
			}
		}




		.lang-select {
			right: 60px !important;
			//top: 10px;
		}


		.clogo-img {
			//margin: 50px 0 80px;
			margin: 50px 0 50px;
			width: 60% !important;
			//width: 300px;
		}

		.beginning-time{
			//font-size: 30px;
			//color: #FFFFFF;
			//font-weight: lighter;
			//margin-bottom: 50px;
		}


		.data-item .col-md-1 {
			//width: 33%;
			//float: left;
			//height: 120px;
			//margin-bottom: 50px;
			margin: 35px 0;
			width: 25%;
			height: auto;
		}

		.im-welbox.container {
			width: 100%;
			position: relative;
			padding: 0;
		}



		//关于大会
		.Bg-fwwrap{
			//background-image: linear-gradient(0deg, #271445 0%, #060108 100%);
			//font-size: 14px;
			//color: #FFFFFF;

			.contact-wrap{
				//margin-top: 80px;
				//.col-md-6{
				//	padding-right: 25px;
				//	padding-left: 25px;
				//}
				.h2-tl {
					//font-size: 48px;
					//margin: 120px 0 20px !important;
					margin: 60px auto 50px;
					text-align: center;
				}
				.video-box{
					text-align: center;
				}
				.finwise-ad{
					margin:25px 0 10px;
				}
			}
			.abfw-des {
				line-height: 28px;
				letter-spacing: 1px;
				font-size: 18px;
				margin: 10px 0px;
				color: #070340;
			}
		}


		.footer-spewrap{
			.col-md-spe25 {
				width: 100%;
			}
			.col-md-6{
				//padding: 0 ;
				width: 100%;
			}
			.fcon-wrap{
				float: left;
				//margin-bottom: 30px;
				//padding: 0 20px;

			}
		}

		.cont-imwrap{
			.col-md-6{
				margin:  0 0 30px;

			}
		}

		.ot-listwrap{
			.col-md-4 {
				width: 100%;
			}
			.h3-title {
				font-size: 20px;
				margin-bottom: 20px;
			}
			.colorful-border{
				margin:30px auto;
				max-width: 420px;
				//min-height: 440px;
				height: auto;
				//height: 440px;
			}
			.des-get {
				//font-size: 14px;
				//color: #FFFFFF;
				line-height: 26px;
				padding: 35px 25px;
			}
			.des-detail {
				//font-weight: 400;
			}
		}


		.tb-qywrap, .cont-imwrap {
			margin: 40px 0 !important;

		}
		.cooperation-wrap{

			#footer {
				margin-top: 0;
			}
		}

		//english style begin
		.en{
			.ot-listwrap{
				.col-md-4 {
					//width: 100%;
				}
				.colorful-border{
					//margin:30px auto;
					//max-width: 420px;
					max-height: 450px;
					height: auto;
				}
			}
		}


		.union-wrap{
			//padding-top: 20px;
			.col-md-3 {
				//margin-right: 0 !important;
				//width: 25%;
				//margin-right: 5% !important;
				//width: 45%;
			}
		}


		.union-wrap, .partner-wrap {
			.swatch-a{
				////width: 255px;
				//max-width: 254px;
				//text-align: center;
				//height: 100px;
				//line-height: 100px;
				//vertical-align: middle;
				//display: table-cell !important;
				////margin: 0 30px 30px 0;
				////padding: 0;
				//padding-right: 15px;
				//padding-left: 15px;
				//margin-bottom: 15px;
				.lazy{

					//max-height: 100px;
				}
			}
		}



		.about-wrap .count-wrap {
			.title{
				font-size: 14px;
				margin-left: 0px;
				margin-top: 15px;
			}
			.number{
				display: none;
				img{
					//height: 45px;
					height: auto;
				}
				&.wap-num{
					display: block;
				}
			}
		}


		//.video-box {
			//img{
			//	display: none;
			//}
			//.pc-vidimg{
			//	display: none !important;
			//}
			//.wap-vidimg{
			//	display: block !important;
			//}

		//}



		//wap style begin

		.wap-show{
			//display: block !important;
			display: inline-block !important;
		}
		.pc-hide{
			display: none !important;
		}
		.index-bgdd {
			//padding-top: 100px;
			//padding: 100px 0 0;

		}
		.index-bg{
			//margin: 100px 0 60px;
		}
		.about-wrap .count-wrap{
			//margin-top: 80px;
			//background: rgba(22,9,43,0.55);
		}

		 .count-wrap{
			 &.wap-show{
				 //margin-top: 80px;
				 background: rgba(22,9,43,0.55);
				 //margin-top: 150px;
				 position: absolute;
				 bottom: 0;
				 width: 100%;
				 left: 0;
				 right: 0;
				 margin: 0;
				 padding-left: 12px;
				 .title {
					 font-size: 14px;
					 color: #fff;
					 margin-top: 15px;
				 }
			 }

		}
		.Bg-fwwrap{
			background-image: linear-gradient(-180deg, #FFFFFF 0%, #FFFFFF 100%);

		}

		.guest-item .h2-tl {
			//margin: 120px 0 80px;
			margin: 50px auto 35px;
			font-weight: 700;
			background: none;
			/* background-size: 50%; */
			display: inline-block;
			background-position: bottom;
			padding: 0 28px 0px;
			text-align: center;
			color: #4F2F84;
		}
		.about-finwise.h2-tl{
			background: none;
			color: #4F2F84;
			display: block;
		}

		//guest begin
		.guest-item {
			.col-md-2 {
				text-align: center;
				margin-bottom: 20px;
				height: 220px;
			}
			.photo-dbbox{
				border-radius: 50%;
				max-width: 100%;
				width: 126px;
				border: 1px solid #6A4AFF;
				padding: 4px;
				margin: 0 auto;
			}

			img {
				//border-radius: 50%;
				//max-width: 70%;
				//border: 2px solid #6A4AFF;
				border: 0 none;
				max-width:inherit;
				width: 115px;
			}
			.foot-p{
				//color: $purple-color;
			}
			.plname-info{
				color: $purple-color;
			}
			.pl-info {
				//color: #999;
				font-size: 12px;
				color: $purple-color;
			}
		}


		.show-ft{
			//display: block !important;
			//height: 720px !important;
			overflow: hidden;
			&.active{
				height: auto !important;
				.col-md-2.showimg{
					display: block;
				}
			}
		}



		//wap style begin
		.entrance-wrap{
			display: none;

		}
		//.tiketsex .tkbox {
		//	max-width: 540px;
		//	width: 100%;
		//	margin: 0 auto 30px;
		//}

		.red-btn{
			//background: $red-color;
			//width: 160px;
			//height: 36px;
			//line-height: 38px;
			//display: inline-block;
			//text-align: center;
			/* border-radius: 4px; */
			//color: #fff;
			//font-size: 16px;
			//@extend .cc-btn;
			*{
				//display: inline-block;
			}
		}
		.s-icon{
			//background: url("../images/finwise-tokyo/s-icon.png");
			width: 20px;
			background: url(../images/finwise-tokyo/s-icon.png);
			background-size: cover;
			height: 20px;
			height: 20px;
			position: relative;
			top: 4px;
			left: 10px;
			//display: block;

			//float: right;
		}

		#topnav  {
			.tikets-wapbox{
				//position: absolute;
				position: absolute;
				//top: -50px;
				top: 13px;
				right: 60px;
				z-index: 9999;
				.gettiketsbox{
					font-size: 12px;
					width: 80px;
					height: 30px;
					line-height: 30px;
				}
			}
			//float: none;
			//display: block;
		}


		//wap footer style begin
		#footer {
			//background-color:$purple-color2;
			//padding: 40px 0 15px;
			background-color:#fff;
			padding: 0;
			.footer-spewrap{
				background-color:$purple-color2;
				width: 100%;
				//padding: 25px;
				 .fcon-wrap {
					float: left;
					//margin-bottom: 20px;
					 padding:0;
					 margin-bottom: 0;
					//padding: 0 20px;
				}
				.row{
					padding: 25px 40px;
				}
				.col-md-spe25{
					margin-bottom: 20px;
				}
			}
			.fim-tl {
				font-size: 20px;
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 18px;
				font-weight: 400;
				border-left: 3px solid #fff;
				padding-left: 10px;
			}
			.email{
				margin: 0;
			}
			.contact-ussty{
				&:last-child{
					margin-bottom: 0;

				}

				dt{
					float: none;
					/* display: inline-block; */
					height: auto;
					//width: 30%;
					min-width: 120px;
				}
				dd{
					//width: 70%;
					width: 100%;
					text-align: left;
					margin-left: 0;
					//float: right;
				}
			}


			.col-md-wap{
				width: 100%;
				padding: 25px 25px 15px;
				background-color:#fff;
				.col-md-6 {
					width: 50%;
					float: left;
					text-align: center;
				}
				.logo-footer{
					max-height: 100px;
				}
			}

		}


		//about begin

		.about-fwrap {
			//background: url(../images/finwise-tokyo/about/finwise-bgph.png) no-repeat;
			background-position: center 55px !important;
			height: 280px !important;
			//background-size: contain;
			//height: 322px;
			//background-size: cover;
		}

		//wap style end

	}


@media only screen and (min-width: 992px) and (max-width: 1450px) {

	.clogo-img {
		margin: 100px 0 50px 0 !important;
		width: 65% !important;
	}


	.beginning-time {
		margin-bottom: 100px;
	}


}
@media only screen and (min-width: 992px) and (max-width: 1200px) {



	.colorful-border {

		height: 615px !important;
	}

	.en {
		.colorful-border, .en .des-get {
			height: 530px;
		}
	}


}

	@media only screen and (min-width: 992px) and (max-width: 1200px) {
		.footer-spewrap{
			.col-md-spe25 {
				//width: 30%;
			}
			.col-md-6{
				padding: 0 105px;
				width: 70%;
			}
			.fcon-wrap{
				float: left;
			}
		}



	}

	//cooperation
	.cooperation-wrap{
		background: url(../images/finwise-tokyo/cbg.png);
		width: 100%;
		background-position: center;
		height: 680px;
		background-size: cover;
		background-attachment: fixed;
		.fm-wrap{
			margin-top: 150px;
		}
	}

	.colorful-border{
		background: rgba(255,255,255,0.05);
		border-radius: 6px;
		//border-image: -webkit-linear-gradient( red , blue);
		//border-image: -moz-linear-gradient( red, blue);
		//border-image: linear-gradient( red , blue);
		//height: 50px;
		display: inline-block;

		//line-height: 50px;
		//border-radius: 40px;
		//width: 124px;
		//background: -webkit-linear-gradient( top, #4E0695 0%, #4E0695 100%), -webkit-linear-gradient( top, #4E0695 0%, #A3198F 100%);
		//background: -webkit-linear-gradient( top, #4E0695 0%, #A3198F 100%), -webkit-linear-gradient( top, #4E0695 0%, #A3198F 100%);
		//background: -webkit-linear-gradient( top, #4E0695 0%, #A3198F 100%), -webkit-linear-gradient( top, #4E0695 0%, #A3198F 100%);
		//background: -webkit-linear-gradient( right,rgba(78,6,149,1)), -webkit-linear-gradient( right, rgba(163,25,143,1));
		background-clip: content-box, padding-box;
		margin-top: 50px;
		//background: rgba(255,255,255,0.05);
		//border-radius: 6px;
		color: #fff;
		//border: 2px solid #A3198F;
		border: 1px solid #ad339b;
		max-width: 335px;
		//height: 400px;
		height: 535px;
		display: block;
		//padding: 2px;
		//background: -webkit-linear-gradient( right, #fff 0%, #fff 100%), -webkit-linear-gradient( right, #4E0695 0%, #A3198F 100%);
		//background-clip: content-box, padding-box;

	}
	.cc-bg{
		//background: rgba(255,255,255,0.05);
		//background: rgba(78,6,149,.5);
		padding: 45px 25px;
		//background: rgba(78,6,149,.5);

	}
	.des-detail{
		font-weight: lighter;
	}
	.coop-wrap{
		@extend .nav-ht;

		//.h2-title{
		//	color: #fff;
		//}

	}
	.h3-title{
		font-size: 24px;
		//color: #FFFFFF;
		margin-bottom: 40px;
	}
	.des-get{
		font-size: 14px;
		color: #FFFFFF;
		line-height: 26px;
		//max-width: 335px;
		.h3-title{
			font-weight: 400;
		}
	}
	.color-white{
		color: #fff;
	}
	.geth2-title{
		font-size: 18px;
	}



	.check-i{
		width: 24px;
	}
	.tb-qywrap {
		margin: 80px 0;
		display: inline-block;
		width: 100%;
		table,td,th{
			//border: 1px solid #fff;
			//background: rgba(74,47,165,0.23);
			background: rgba(74, 47, 163, 0.05);
			//border: 1px solid #8C32FF;
			//font-weight: lighter;
			font-weight: 300;
		}
		table{
			font-size: 14px;
			color: #FFFFFF;
			font-weight: lighter;
			width: 100%;
			text-align: center;
			//border: 1px solid #8C32FF;
			outline: 1px solid #8C32FF;
			.zz-tb{
				width: 100%;
				//background: #4A2FA5;
				background: #8C32FF;

			}
			.wh14{
				width: 14%;
				text-align: center;
				//border-left: 1px solid #534577;
				border-left:1px solid rgba(255, 255, 255, .3);
				&:hover{
					//background:rgba(191,72,230,1);
				}
			}
			.wh30{
				width: 30%;
				text-align: left;
			}
			th,td{
				height: 40px;
				line-height: 40px;
			}
			th{
				font-weight: 400;
			}
			td{
				border: 1px solid #473c54;
			}
			.type-sv{
				text-align: left;
				padding-left: 20px;
			}
		}
	}


	.en{
		.tb-qywrap table .wh14 {
			line-height: 2;
		}

	}
	.de-count{
		font-size: 16px;
	}
	.cont-imwrap{
		margin: 60px 0;
	}
	.cont-cm{
		background: #6F15B8;
		border-radius: 2px;
		padding: 15px 20px;
		color: #fff;
		overflow: hidden;
		max-width: 505px;
		margin: 0 auto;
		.contact-tl{
			border-bottom: 1px dashed #a44aeb;
			color: #50dfd3;
			padding-bottom: 10px;
			margin: 0 0 15px;
		}
		.ct-lists{
			font-size: 14px;
			line-height: 2;
			//color: #FFFFFF;
		}
		.fl{
			float: left;
		}
		.im-contact{
			margin-right: 50px;
			font-size: 14px;
			margin-top: 3px;
		}
		p{
			margin: 0;
		}
		}
	//}

.show-all, .show-hide{
	//float: right;
	//padding-bottom: 30px;
	cursor: pointer;
	background: $red-color;
	//background: #FF1D92;
	//padding: 5px 18px;
	width: 220px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	font-size: 18px;
	color: rgba(255,255,255,0.90);
	margin: 20px auto 30px;
	display: block;
	&:hover{
		background: rgba(255, 29, 146, .95);
	}
}



.wap-show{
	display: none;
}



//About US begin

.about-fwrap{
	background: url(../images/finwise-tokyo/about/finwise-bgph.png) no-repeat;
	background-position: center 70px;
	//height: 252px;
	height: 322px;
	background-size: cover;
}

.coreteam-wrap{
	margin-bottom: 40px;
}


.h2-tlcom{
	color: $purple-color;
	font-size: 36px;
	margin-bottom: 15px;
}
.about-infowrap{
	.h2-tlcom {
		margin-bottom: 45px !important;
	}
}

.pd-tb{
	padding: 65px 0;
	//padding:65px 0 5px;
}


.slideBox{
	//height: 240px;
	height: 260px;
	//display: table-cell !important;
	//vertical-align: middle;
	//width: 100%;
	text-align: center;


	height: 260px;
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;


	.slideBoxi{
		width: 1140px;
		height: 260px;
		display: table-cell !important;
		vertical-align: middle;
		//width: 100%;
		text-align: center;
		margin: 0 auto;
	}
}

@media (max-width: 1199px){
	.time-historywrap .dl-tbox.last-actbox{
		//width: 45px !important;
		width: 4.5%;
	}
}
@media (min-width: 1200px){
	.about-deswrap.container {
		//width: 860px;
		.h2-tlcom {
			margin-bottom: 10px;
			//font-size: 28px;
		}
		.team-bbox{
			height: 330px;

		}
	}
	.fd-member{
		font-size: 22px;
		margin: 15px 0 6px;
		display: block;
	}
	.co-sponsor-wrap .col-md-2.showimg {
		//display: block;
		max-height: 97px;

	}



	//about begin
	.h2-tlcom {
		font-size: 28px;
	}
	.team-wrap{
		.col-md-3 {
			width: 25%;
			height: 345px;
		}
	}


	.mdpartner-wrap img {
		height: 67px;
	}

	.co-sponsor-wrap{
		&.partner-wrap img {
			height: 68px;
		}
	}



	//visa begin
	.visa-fwrap{
		&.container {
			//width: 1000px;
			//width:1180px;
		}
	}


	.about-deswrap.team-wrap .col-md-3 {
		margin: 45px 0 0;
	}
}
@media(min-width: 992px){


}
@media (max-width: 1200px){
	.mdpartner-wrap img{
		//max-height: 52px;
	}

	.plan-wrap .plan-img {
		max-width: 500px !important;
		//width: 100%;
	}


	//about begin

	.about-infowrap .h2-tlcom {
		margin-bottom: 25px !important;
	}



	//visa begin
	.vs-h1 {
		font-size: 24px !important;
	}
	.im-tips {
		margin: 45px 0;
		font-size: 16px !important;
	}
	.visa-fwrap{
		.va-h3 {
			font-weight: 700;
			font-size:  16px !important;
			line-height: 1.8 !important;
		}
		p{
			font-size:  16px !important;
		}
	}


	.fd-member {
		font-size: 18px;
		margin: 15px 0 6px;
		display: block;
	}
	.position-info {
		font-size: 14px !important;

		}
	}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
	.partner-wrap img {
		height: 54px;
	}
}


.plan-wrap{
	background: url(../images/finwise-tokyo/about/plan-bg.png) no-repeat;
	background-position: center center;
	height: 530px;
	background-size: cover;
	padding: 70px 0 50px;
	.h2-tlcom {
		color: #FFFFFF;
		margin-bottom: 0;

	}
	.plan-img{
		max-width: 650px;
		width: 100%;

		//height: 260px;
		//max-height: 160px;
		///* height: 220px; */
		//display: table-cell;
		//vertical-align: middle;
		//margin: 0 auto;
		//text-align: center;
		//margin: 50px 0 60px;

	}
	.container {
		//width: 1170px;
	}
}
.time-historywrap{
	//margin: 35px 0;
	//margin-top: 50px;
	width: 100%;
	display: inline-block;
	//display: inline-flex;
	.dl-tbox{
		//border-bottom: 4px solid #FFFFFF;
		//width: 16.67%;
		width: 16.67%;
		display: inline-block;
		position: relative;
		overflow: hidden;
		height: 100px;
		//&:before{
		//	content: "x";
		//	width: 10px;
		//	height: 10px;
		//	background: #fff;
		//	border-radius: 100%;
		//	//text-indent: -9999em;
		//	text-indent: -9999px;
		//}
		.htthing-box{
			//display: inline-block;
			float: left;
		}
		&.act{
			.circle-p{
				background: #fff;
			}
			.line-c:before{
				//border-bottom: 4px solid #FFFFFF;
				//content:'';
				//position: absolute;
				//top: 0;
				//left: 0;
				//position:relative;
				animation:mymove 5s infinite;
				-webkit-animation:mymove 5s infinite; /*Safari and Chrome*/
				animation-iteration-count:1;
				-webkit-animation-iteration-count:1; /* Safari 和 Chrome */
				width: 100%;
				animation-fill-mode : none;
			}
		}
		&.last-actbox{
			//width: 4.5% !important;
		}
	}
	.ht-con{
		position: absolute;
		top: 0;
		left: 0;
	}
	.tr-addr{
		font-size: 18px;
		color: #FFFFFF;
		font-weight: 300;

	}
	.tr-date{
		font-size: 12px;
		color: rgba(255,255,255,0.40);
		text-align: left;
	}
	.city-lj{
		margin-left: 7px;
	}
	.circle-p{
		width: 10px;
		height: 10px;
		//background: #fff;
		border: 1px solid #FFFFFF;
		border-radius: 100%;
		display: block;
		//margin: 0 auto 10px;
		margin: 0 0 20px 20px;
	}
	.line-c{
		border-bottom: 4px solid rgba(255, 255, 255, .5);
		//border-bottom: 4px solid #FFFFFF;
		width: 100%;
		display: inline-block;
		height: 5px;
		//margin-left: 60px;
		left: 55px;
		position: absolute;
		&.line-empty{
			//border-bottom: 4px solid rgba(255, 255, 255, .5);
		}
		&:before{
			border-bottom: 5px solid #FFFFFF;
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 0%;
			//width: 100%;


		}
	}


}

@keyframes mymove
{
	from {
		//left:0px;
		width: 0%;
	}
	to {
		//left:200px;
		width: 100%;
	}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
	from {left:0px;}
	to {left:200px;}
}



//team begin
.founder-box{
	background: #FFFFFF;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
	border-radius: 5px;
	//height: 100%;
	height: 275px;
	max-width: 745px;
	width: 100%;
	margin: 0 auto;
	.fd-photobox{
		float: left;

	}
	.founder-ph{
		width: 275px;
		height: 275px;
		border-radius: 5px 0 0 5px;
	}
	.fd-infobox{
		padding: 40px 50px;
		//margin-left: 275px;
		overflow: hidden;
		height: 100%;
		color: $purple-color;
		.foundername{
			font-size: 24px;
			line-height: 1.2;
		}
		.position-fd{
			font-size: 16px;
		}
		.founder-des{
			font-size: 14px;
			margin-top: 25px;
			line-height: 29px;
		}

	}

}


.team-bbox{
	width: 250px;
	height: 335px;
	background: #FFFFFF;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
	border-radius: 5px;
	font-size: 14px;
	color: #333333;
	.team-ph{
		width: 250px;
		height: 218px;
		border-bottom:3px solid #8B18E9;
		border-radius: 5px 5px 0 0;
	}
	.tm-detail{
		margin: 12px 12px;
	}
	.foundername{
		font-size: 24px;
		color: #333333;
		//line-height: 1.5;
		//display: block;

		//border-bottom: 1px dashed #D0D0D0;
		//margin: 12px 12px;
		line-height: 1.2;

		.position-info{
			font-size: 16px;
			color: #666;
			line-height: 1.5;
			display: block;
		}

	}
	.email-addr{
		border-top: 1px dashed #D0D0D0;
		padding-top: 8px;
		margin-top: 8px;
	}
}
.team-wrap{
	.col-md-3{
		//height: 335px;
		margin: 45px 0;
	}
}


@media (max-width: 320px) {


	.index-fwrap {
		height: 480px !important;
		padding-top: 80px !important;
	}


	.guest-item{
		.photo-dbbox {
			//border-radius: 50%;
			//max-width: 100%;
			width: 110px;
		}
		img {
			//border: 0 none;
			//max-width: inherit;
			width: 100px;
		}
	}


	.mdpartner-wrap{

		img.lazy{
			height: 36px !important;
		}
	}



	.co-sponsor-wrap .show-allimg {
		height: 285px !important;
		img.lazy{
			height: 36px !important;
			//overflow: hidden;
		}
	}



}
@media only screen and (min-width: 321px) and (max-width: 360px) {

	.mdpartner-wrap{

		img.lazy{
			height: 40px !important;
		}
	}
	.co-sponsor-wrap .show-allimg {
		height: 315px!important;
		img.lazy {
			height: 42px !important;
			//overflow: hidden;
		}
	}
}
@media only screen and (min-width: 361px) and (max-width: 375px) {

	.mdpartner-wrap{

		img.lazy{
			height: 40px !important;
		}
	}


	.co-sponsor-wrap .show-allimg {
	height: 335px!important;
	img.lazy{
		height: 44px !important;
		//overflow: hidden;
	}
}
}
@media only screen and (min-width: 376px) and (max-width: 411px) {

	.mdpartner-wrap{

		img.lazy{
			height: 50px !important;
		}
	}


	.co-sponsor-wrap .show-allimg {
		height: 350px!important;
		img.lazy{
			height: 48px !important;
			//overflow: hidden;
		}
	}
}

@media only screen and (min-width: 412px) and (max-width: 414px) {

	.mdpartner-wrap{

		img.lazy{
			height: 48px !important;
		}
	}

	.co-sponsor-wrap .show-allimg {
		height: 360px!important;
		img.lazy{
			height: 50px !important;
			//overflow: hidden;
		}
	}
}


@media only screen and (min-width: 412px) and (max-width: 768px) {


	.co-sponsor-wrap .show-allimg {
		//height: 622px !important;

		img.lazy {
			//height: 92px !important;
			//overflow: hidden;
		}
	}
}



@media  (max-width: 415px) {

	//founder info


	//.founder-box {
	//	background: #fff;
	//	margin-left: 0 !important;
	//	.fd-photobox {
	//		float: none !important;
	//		text-align: center;
	//	}
	//}
	//
	//.fd-infobox {
	//	//padding: 40px 50px;
	//	//margin-left: 0 !important;
	//	overflow: hidden;
	//	height: 100%;
	//	color: #4F2F84;
	//}
	//.founder-ph {
	//	width: 180px !important;
	//	height: 180px  !important;
	//	//border-radius: 5px 0 0 5px;
	//
	//}


	.slideBox .slideBoxi {

		height: 160px !important;

	}


	.time-historywrap {


		.ht-con{
			//left: 12px !important;
			left: -10px !important;
		}

	}



	//visa begin
	.vs-h1 {
		font-size: 18px !important;
	}
	.im-tips {
		margin: 30px 0;
		font-size: 13px !important;
	}
	.visa-fwrap{
		margin: 95px auto 20px !important;
		line-height: 2 !important;
		.va-h3 {
			font-weight: 700;
			font-size:  13px !important;
			line-height: 1.5 !important;
		}
		.im-tips {
			margin: 25px 0 10px;
		}
		p{
			font-size:  13px !important;
		}
	}


	.about-deswrap.team-wrap {
		.h2-tlcom {
			//font-size: 24px;
			margin: 50px 35px 15px !important;
		}
	}


	.visa-tips {
		font-size: 12px !important;
	}
}




//visa begin

.visa-tips{
	position: fixed;
	right: 0px;
	bottom: 30%;
	z-index: 9999;
	background: $red-color;
	padding: 5px 12px 4px 15px;
	border-radius: 20px 0 0 20px;
	font-size: 13px;
	line-height: 1.5;
	&:hover{
		background:#e81a85;
	}
}


.visa-fwrap{
	margin: 130px auto 40px;
	color: $purple-color3;
	line-height: 37px;
	p{
		font-size: 18px;
		color: $purple-color4;

		//line-height: 37px;
	}
	.va-h3{
		font-weight: 700;
		font-size: 20px;
		line-height: 2;
	}

}
.vs-h1{
	font-size: 32px;
	color: $purple-color;
}

.im-tips{
	margin: 45px 0;
	font-size: 18px;


}
.mar-tb45{
	margin: 45px 0;
}




//agenda begin
.agenda-wrap {
	background: #FFFFFF;
	color: #000;
	margin: 120px auto 50px;
	padding: 50px;
	.day-plan{
		margin: 15px 0;
	}
	.plan-h2box{
		margin-bottom: 30px;
	}
	.fw-plantl{
		line-height: 1.5;

	}
	.age-tbox {

		//color: #FFFFFF;
		//font-weight: lighter;
		width: 100%;
		text-align: center;
		outline: 1px solid #333;
		margin-bottom: 20px;
		.t-ftime{
			background: #b9b9b9;
			color: #000;
			font-size: 14px;
		}
		td{
			border: 1px solid #ccc;
			text-align: left;
			padding: 5px 10px;
			font-size: 14px;
			&:nth-child(1){
				//background: #b9b9b9;
				width: 45%;
			}
		}
	}
	.age-thead{
		font-size: 14px;
		background: #444;
		color: #FFFFFF;

		height: 32px;
		line-height:  32px;
	th{
		padding: 0 10px;
	}

	}
}