/**** var ****/

$purple-color:#4F2F84;
$purple-color2: #603EA3;
$purple-color3: #070340;
$purple-color4: #07031C;
$red-color:#FF1D92;
$gray-color:#F0F0F0;
$white-color: #D8D8D8;;
$grayc-color: #ccc;




.cc-btn {
	width: 240px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	background-color: #ff6600;
	text-align: center;
	/* border-radius: 4px; */
	color: #fff;
	font-size: 14px;
}

.font24{
	font-size: 24px !important;
}

/*screen width*/
//$screenWidth:1200px!default;


/*url*/
$url:'/images/new-imgs/'!default;
//$url:'/images/'!default;