/**** var ****/
.cc-btn {
  width: 240px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  background-color: #ff6600;
  text-align: center;
  /* border-radius: 4px; */
  color: #fff;
  font-size: 14px; }

.font24 {
  font-size: 24px !important; }

/*screen width*/
/*url*/

/*# sourceMappingURL=var.css.map */
