@charset "UTF-8";
body{
  background: #F2F2F2;
  font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;

}
::selection {
  background-color: #ff6600;
  color: #fff;
}
/***common ***/
img, video {
  max-width: 100%;
  /*width: 100%;*/
  height: auto;
}
/*header and footer begin*/
.photo .row div{
  margin-top: 20px;
}
.photo .row{
  width: 100%;
  /*margin: 0 auto;*/
}

#topnav > .container {
  position: relative;
}
#topnav .logo {
  float: left;
  padding: 14px 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  z-index: 110;
}
#topnav .logo img {
  max-height: 70px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 280px;
}
#topnav .logo .logo-light, #topnav.stick .logo .logo-dark {
  display: block;
}
#topnav.stick .logo .logo-light,  #topnav .logo .logo-dark {
  display: none;
}
#topnav .navigation-menu > li {
  display: inline-block;
  position: relative;
}
#topnav .navigation-menu > li.menu-item-has-children > a:after {
  content: "\e00e";
  font-family: "hodyicons";
  margin-left: 5px;
  font-size: 9px;
}
#topnav .navigation-menu > li.has-megamenu {
  position: static !important;
}
#topnav .navigation-menu > li > a {
  display: block;
  color: #fff;
  font-size: 16px;
  /*text-transform: uppercase;*/
  /*font-family: Gisha, "Microsoft YaHei", serif;*/
  letter-spacing: 0.10em;
  font-weight: 400;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  line-height: 45px;
  padding-left: 15px;
  padding-right: 15px;
}
#topnav .navigation-menu > li > a:hover,
#topnav .navigation-menu > li > a:focus {
  background-color: transparent;
}
@media (min-width: 992px) {
  #topnav .navigation-menu > li > a {
    min-height: 62px;
  }
}
#topnav .navigation-menu > li .submenu li a i {
  margin-right: 5px;
}
#topnav .navigation-menu .current_page_item > a {
  color: #1b96ed !important;
}
#topnav .navigation-menu > li .submenu li span.label {
  padding: .2em .6em .3em;
  display: inline;
  background-color: #1b96ed;
  color: #fff;
  margin-left: 4px;
  font-size: 8px;
  font-weight: bold;
  line-height: 1;
}

#topnav .navigation-menu > li.menu-btn-item,
#aside-nav .navigation-menu > li.menu-btn-item,
#topnav .navigation-menu > li.menu-btn-item.active,
#aside-nav .navigation-menu > li.menu-btn-item.active {
  padding: 13px;
}
#topnav .navigation-menu > li.menu-btn-item > a,
#aside-nav .navigation-menu > li.menu-btn-item > a,
#topnav .navigation-menu > li.menu-btn-item.active > a,
#aside-nav .navigation-menu > li.menu-btn-item.active > a {
  display: inline-block;
  padding: 0 16px;
  font-size: 11px;
  height: 35px;
  line-height: 33px;
  min-height: 0;
  background-color: #1b96ed;
  border-color: #1b96ed;
  border-radius: 30px;
  color: #fff;
}
#topnav .navigation-menu > li.menu-btn-item > a:hover,
#aside-nav .navigation-menu > li.menu-btn-item > a:hover,
#topnav .navigation-menu > li.menu-btn-item.active > a:hover,
#aside-nav .navigation-menu > li.menu-btn-item.active > a:hover {
  background-color: #2e9fee;
  border-color: #2e9fee;
  color: #fff!important;
}
#topnav #navigation {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}
#topnav #navigation.right-aligned-menu,
#topnav #navigation.left-aligned-menu {
  position: static;
  width: auto;
  left: auto;
}
#topnav #navigation.right-aligned-menu .navigation-menu,
#topnav #navigation.left-aligned-menu .navigation-menu {
  padding: 0 10px;
}
#topnav #navigation.right-aligned-menu .navigation-menu > li,
#topnav #navigation.left-aligned-menu .navigation-menu > li {
  float: left;
  display: block;
}
#topnav #navigation.right-aligned-menu .navigation-menu {
  float: right;
}
#topnav #navigation.right-aligned-menu .navigation-menu > li.last-elements .submenu {
  left: auto;
  right: 0;
}
#topnav #navigation.right-aligned-menu .navigation-menu > li.last-elements .submenu > li.menu-item-has-children .submenu {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: 10px;
}
#topnav #navigation.left-aligned-menu .navigation-menu {
  float: left;
}
#topnav .navigation-menu > li > .submenu {
  border-top: 0;
}
#topnav .navigation-menu > li .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  padding: 15px 0;
  list-style: none;
  min-width: 200px;
  visibility: hidden;
  opacity: 0;
  margin-top: 23px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background-color: #222225;
  text-align: left;
  border: 1px solid #1d1d20;
}
#topnav .navigation-menu > li .submenu.megamenu {
  white-space: nowrap;
  width: 100%;
  display: table;
  padding: 25px 0;
}
#topnav .navigation-menu > li .submenu.megamenu > li {
  overflow: hidden;
  width: 25%;
  display: table-cell;
  border-right: 1px solid #3a3a40;
  vertical-align: top;
}
#topnav .navigation-menu > li .submenu.megamenu > li:last-child {
  border: 0;
}
#topnav .navigation-menu > li .submenu.megamenu > li a {
  display: inline-block;
}
#topnav .navigation-menu > li .submenu > li.menu-item-has-children > a:after {
  content: "\e00a";
  font-family: "hodyicons";
  position: absolute;
  right: 20px;
  font-size: 9px;
  height: 12px;
  line-height: 12px;
  top: 50%;
  margin-top: -6px;
}
#topnav .navigation-menu > li .submenu > li .submenu {
  left: 100%;
  top: 0;
  margin-left: 10px;
  margin-top: -1px;
}
#topnav .navigation-menu > li .submenu li {
  position: relative;
}
#topnav .navigation-menu > li .submenu li ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#topnav .navigation-menu > li .submenu li a {
  display: block;
  padding: 6px 25px;
  clear: both;
  line-height: 1.42857143;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #e4e4e4;
}
#topnav .navigation-menu > li .submenu li a:hover {
  color: #1b96ed;
}
#topnav .navigation-menu > li .submenu li span {
  font-family: 'Gisha', sans-serif;
  display: block;
  padding: 8px 25px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
}

#lang-switch{
  left: 100px;
}

.purple-text{
  color: #70309f;
}

.blue-text{
  color: #5c9ad5;
}

.img-center{
  text-align: center;
}


@media (max-width: 991px) {
  body:not(.has-home-slider):not(.loggedin-in.admin-bar) {
    /*padding-top: 60px;*/
  }
  .split-row + .split-row {
    border-top: 1px solid #eee;
  }
  #topnav .navigation-menu > li.menu-item-has-children > a:after {
    font-size: 11px;
  }
  #topnav {
    min-height: 50px !important;
  }
  .menu-toggle {
    height: 50px !important;
  }
  #topnav.bg-active{
    background: #000;
  }
  #navigation {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    border-top: 1px solid #1b1b1b;
    /* border-bottom: 1px solid #bd2020; */
    background-color: #000;
  }
  #navigation.visible {
    visibility: visible;
    opacity: 1;
    top: 62px;
  }

  #topnav {
    position: fixed;
    top: 0;
    width: 100%;
    /*background-color: #fff;*/
    border-bottom: 0;
    /*box-shadow: 0 4px 10px -8px rgba(0, 0, 0, 0.45);*/
  }
  #topnav .container {
    width: auto;
  }
  #topnav .navigation-menu {
    float: none;
    max-height: 400px;
  }
  #topnav .navigation-menu > li {
    float: none;
    display: block;
  }
  #topnav .navigation-menu > li > a {
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    border-bottom: 1px solid #1b1b1b;
  }
  #topnav .navigation-menu > li > a:hover {
    color: #1b96ed;
  }
  #topnav .navigation-menu > li > a:after {
    position: absolute;
    right: 15px;
  }
  #topnav .navigation-menu > li .submenu {
    display: none;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    position: relative;
    padding: 15px;
    padding-left: 45px;
    font-size: 13px;
    color: #e4e4e4;
    letter-spacing: 0.05em;
    border-bottom: 1px solid #29292d;
  }
  #topnav .navigation-menu > li .submenu li a:hover {
    color: #1b96ed;
  }
  #topnav .navigation-menu > li .submenu li.menu-item-has-children > a:after {
    content: "\e00e";
    font-family: "hodyicons";
    position: absolute;
    right: 30px;
    font-size: 11px;
  }
  #topnav .navigation-menu > li .submenu li.menu-item-has-children .submenu li a {
    padding-left: 65px;
  }
  #topnav .navigation-menu > li .submenu.opened {
    display: block;
  }
  #topnav .navigation-menu > li .submenu .submenu {
    display: none;
    list-style: none;
  }
  #topnav .navigation-menu > li .submenu .submenu.opened {
    display: block;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li > ul {
    list-style: none;
    padding-left: 0;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li span {
    display: block;
    padding: 15px 25px;
    padding-left: 35px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #29292d;
  }
  #topnav .navigation-menu > li.menu-item-has-children.opened > a {
    color: #1b96ed;
    border-bottom: 1px solid #29292d;
  }
  #topnav .menu-extras {
    border-color: rgba(0, 0, 0, 0.08);
  }
  #topnav .menu-extras .menu-item > div > a {
    color: #2d2d2d;
  }
  #topnav .menu-extras .menu-item > div > a:hover {
    color: #1b96ed !important;
  }
  #topnav .menu-toggle:hover .toggle-inner {
    background-color: #ff6600 !important;
  }
  #topnav .toggle-inner {
    background-color: #ff6600;
  }
  #topnav .logo .logo-light {
    display: none;
  }
  #topnav .logo .logo-dark {
    display: block;
  }
  #topnav.dark-menu {
    background-color: #222225;
    box-shadow: 0 4px 10px -7px rgba(0, 0, 0, 0.8);
  }
  #topnav.dark-menu .logo .logo-light {
    display: block;
  }
  #topnav.dark-menu .logo .logo-dark {
    display: none;
  }
  #topnav.dark-menu .menu-extras {
    border-color: rgba(255, 255, 255, 0.08);
  }
  #topnav.dark-menu .menu-extras .menu-item > div > a {
    color: #fff;
  }
  #topnav.dark-menu .menu-toggle .toggle-inner {
    background-color: #fff;
  }
  #lang-switch{
    left: 0;
  }


  @media (min-width: 768px) {
    #topnav .navigation-menu > li.menu-item-has-children:hover > .submenu {
      visibility: visible;
      opacity: 1;
      margin-top: 0;
    }
    #topnav .navigation-menu > li.menu-item-has-children:hover > .submenu.megamenu {
      margin-top: 0;
    }
    #topnav .navigation-menu > li.menu-item-has-children:hover > .submenu > li.menu-item-has-children:hover > .submenu {
      visibility: visible;
      opacity: 1;
      margin-left: 0;
      margin-right: 0;
    }
    .footer-widgets {
      display: none;
    }
  }
  .container.A-wrap {
    padding: 19px 15px 5px;
  }
}
.menu-extras {
  float: right;
  margin-right: -15px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  position: relative;
  z-index: 20;
}

@media (max-width: 600px) {
  #topnav,
  #aside-nav {
    z-index: 999999;
  }
}

#topnav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 8000;
  background: none;
  border: 0;
  min-height: 62px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@media (min-width: 992px) {
  #topnav.stick .navigation-menu > li > a {
    color: #fff;
  }
  .menu-extras {
    display: none;
  }
}
#topnav.stick .navigation-menu > li > a:hover {
  color: #ff6600;
  background-color: transparent;
}
@media (min-width: 992px) {
  #topnav.stick .navigation-menu > li > a {
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
  }
}
#topnav.stick .navigation-menu > li.active > a {
  color: #1b96ed;
}
#topnav.stick .menu-extras {
  border-color: rgba(0, 0, 0, 0.08);
}
#topnav.stick .menu-extras .menu-item > div > a {
  color: #2d2d2d;
}
#topnav.stick .menu-extras .menu-item > div > a:hover {
  color: #1b96ed !important;
}
#topnav.stick .menu-toggle:hover .toggle-inner {
  background-color: #ff6600 !important;
}
#topnav.stick .toggle-inner {
  /*background-color: #222225;*/
}
#topnav.stick.dark-menu {
  background-color: #222225;
  box-shadow: 0 4px 10px -7px rgba(0, 0, 0, 0.8);
}
.menu-toggle {
  position: relative;
  display: block;
  width: 20px;
  height: 82px;
  padding: 0 25px;
}
.menu-toggle:hover .toggle-inner:before {
  width: 20px;
}
.toggle-inner {
  background-color: #fff;
  border-radius: 4px;
  display: block;
  height: 2px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  transition-property: -webkit-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  width: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.toggle-inner:before,
.toggle-inner:after {
  background-color: inherit;
  border-radius: 4px;
  bottom: -10px;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  transition-property: -webkit-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  width: 20px;
}
.toggle-inner:before {
  /*width: 16px;*/
  top: -5px;
}
.toggle-inner:after {
  bottom: -5px;
}
.menu-toggle .toggle-inner {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.menu-toggle .toggle-inner:before {
  -webkit-transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in, width 0.15s ease;
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in, width 0.15s ease;
}
.menu-toggle .toggle-inner:after {
  transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-toggle.is-active .toggle-inner {
  -webkit-transition-delay: .14s;
  transition-delay: .14s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.menu-toggle.is-active .toggle-inner:before {
  top: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
  opacity: 0;
}
.menu-toggle.is-active .toggle-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.menu-toggle-r .toggle-inner {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.menu-toggle-r .toggle-inner:before {
  -webkit-transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
.menu-toggle-r .toggle-inner:after {
  transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-toggle-r.is-active .toggle-inner {
  -webkit-transition-delay: .14s;
  transition-delay: .14s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
.menu-toggle-r.is-active .toggle-inner:before {
  top: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
  opacity: 0;
}
.menu-toggle-r.is-active .toggle-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
@media (min-width: 992px) {
  .logged-in.admin-bar #topnav.stick {
    top: -63px !important;
  }
}

/*header and footer end*/

/*footer*/
#footer {
  position: relative;
  padding: 30px 0;
  background-color: #1b1b1d;
  z-index: 10;
  color: #fff;
}
/*contact us*/
.contact-us{
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
}
.contact-usstyle{
  color: #f9297d;
  margin: 10px 0;
}
.row-fbox{
  margin-top: 15px;
  overflow: hidden;
}
.pd-lt{
  padding-left: 130px;
}

/*footer end*/
/***common end***/

/*lang*/
.lang-select{
  position: absolute;
  right: 0;
  top: 22px;
  z-index: 9999;
}
.lang-select a{
  color: #fff;
}
.lang-select a:hover{
  color: #ff6600;
}
.fg-line{
  margin: 0 15px;
  color: #fff;
}
.mar-rt15{
  margin-right: 15px;
}

/*first screen info*/
.index-bg{
  /*width: 1000px;*/
  height: 600px;
  /*background: url("../images/finwise/img-about.jpg");*/
  /*background-clip: content-box;*/
  display: block;
}
.clogo-img{
  margin: 170px 60px 60px 0;
  width: 380px;
}
.meet-title{
  font-size: 44px;
  color: #fff;
  top: -60px;
  position: relative;
  left: 58px;
}

.guest-item .col-md-2{
  text-align: center;
}

.guest-item img{
  border-radius: 50%;
  max-width: 70%;
}

.guest-item p{
  font-size: 12px;
  margin: 0;
}

.guest-item .pl-info{
  color: #999;
}

/*first screen info end*/

@media (max-width: 991px){
  .lang-select{
    right: 50px;
    top: 15px;
    font-size: 12px;
  }
  .clogo-img {
    margin: 220px 0 60px;
    width: 300px;
  }
  #topnav .logo img {
    width: 150px;
  }
/*  #topnav .container {
    background: rgba(0,0,0,1);
  }*/
  .corange-btn.mar-rt15{
    margin: 0 0 20px;
  }
  .bz-btn.corange-btn.enbtn {
    /*font-size: 23px;*/
  }
  .pd-lt {
    padding-left: 5px !important;
  }
  .meet-title{
    font-size: 16px;
  }

  .guest-item .col-md-2{
    float: left;
    width: 33%;
    height: 200px;
  }

  .data-item .col-md-1{
    width: 33%;
    float: left;
    height: 120px;
  }
}


@media (min-width: 992px){
  #topnav #navigation {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
  }
  #navigation {
    display: block!important;
  }
  #topnav #navigation.en-lspe {
    left: 60px;
  }

  
}

/*lang end*/


/*body.top-padding {*/
  /*padding-top: 0;*/
/*}*/
.index-bgwrap{
  background: url("../images/finwise/bg-big.jpg") no-repeat;
  width: 100%;
  background-position: center;
  height: 680px;
  background-size: cover;
  background-attachment: fixed;
}

.index-bgwrapnew{
  background: url("../images/finwise/bg-big2.jpg") no-repeat;
  width: 100%;
  background-position: center;
  height: 680px;
  background-size: cover;
  background-attachment: fixed;
}

.c-important{
  margin-top: -100px !important;
}
.h2-title{
  margin: 30px 0 50px;
  font-weight: 700;
}
@media (min-width: 1200px){
  .container.A-wrap {
    padding: 50px 50px 0;
  }
}

.mar-auto, .A-wrap{
  margin: 70px auto 0;
}

.bg-white{
 background-color: #fff;
}
.A-wrap{
  margin: 0 auto;
  padding: 30px 50px;
}

.footer-wrap{
  margin-bottom: 100px;
}

.footer-wrap>.count-wrap>ul{
  margin-bottom: 40px;
}

.social img{
  height: 30px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 14px;
}

#wechat-img{
  height: 100px;
}
/*form style*/

.form-control {
  background-color: transparent;
  border-width: 0 0 1px 0;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid #e6e6e6;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.02);
  text-transform: none;
  font-size: 14px;
  height: 42px;
  letter-spacing: 0;
  border-radius: 3px;
}
.form-group textarea {
  min-height: 100px;
  resize: none;
}
.form-group {
  margin-bottom: 25px;
}
/*form style end*/

.bz-btn.corange-btn {
  width: 200px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  background-color: #ff6600;
  text-align: center;
  border-radius: 4px;
  color: #fff;
}
.cc-ccbtn.bz-btn.corange-btn{
  width: auto;
  padding: 0 30px;
}
.form-group label {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.btn.cc-btn {
  padding: 0;
  min-width: 200px;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  color: #fff;
  background: #ff6600;
  border: none;
  margin-top: 20px;
  text-align: center;
}

.cm-ct{
  font-size: 20px;
  color: #333;
  font-weight: 700;
}
.fh-intro{
  text-indent: 30px;
  font-size: 24px;
  font-weight: lighter;
  color: #777;
}
.h6-title{
  font-size: 14px;
  color: #333;
}
.contact-wrap{

  margin-top: 20px;
}

.i-cont{
  /*width: 40%;*/
  /*background-color: #fff;*/
}
.i-cont{
  color: #fff;
}
.head-p{
  background: url("../images/finwise/or-bg.png") no-repeat;
  padding: 15px;
  height: 150px;
  background-size: cover;
}
.i-cont  .foot-p{
  padding: 15px;
  background-color: #F9F8F8;
}
.foot-p{
  padding: 15px;
  /*background-color: #F9F8F8;*/
}
.p-dw{
  margin: 0 8px;
  font-style: normal;
}
.p-pricebox{
  margin: 20px 0;
}
.xx-title{
  font-size: 16px;
}
.p-price{
  font-size: 40px;
  /*color: #000;*/
  font-weight: 700;
  color: #fff;

  text-align: center;
}
.get-btn, .corange-btn{
  width: 240px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  background-color: #ff6600;
  text-align: center;
  /*border-radius: 4px;*/
  color: #fff;
  font-size: 14px;
}


@media (min-width: 992px){
  .count-wrap .col-md-1 {
    width: 19.7%;
  }
}

@media (max-width: 992px){
  .footer-wrap .col-md-2{
    width: 33%;
    float: left;
  }

  .guest-item .col-md-2 {
    height: 260px;
    padding: 4px;
  }
}

.count-wrap .number{
  font-size: 40px;
  font-weight: 700;
  color: #000;
}
.count-wrap *{
  list-style: none;
  text-align: center;
}


/*Introduction*/
.ad-h2title{
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 20px;
}
.and-cl{
  font-weight: lighter;
  margin: 0 15px;
}
.ad-fimg{
  background: url("../images/finwise/sh.png ");
  width: 100%;
  height: 200px;
  background-size: cover;
  margin-top: 30px;
}

.ad-fimg-new{
  background: url("../images/finwise/bg_closepage2.png ");
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 14px;
}
h3.page-title {
  background: url("../images/finwise/pic_title_bg.png");
  width: 263px;
  height: 95px;
  margin: 80px auto 0px auto;
  /*color: #FFF;*/
  text-align: center;
}
h3.page-title b {
  font-size: 36px;
  display: block;
  line-height: 48px;
  height: 48px;
  padding-top: 10px;
}
h3.page-title span {
  font-size: 16px;
  display: block;
}
.content-text {
  font-size: 18px;
  margin-bottom: 3em;
  text-align: left;
  column-gap: 50px;
  text-align: center;
}

.fh-top{
  margin-top: 80px;
  margin-bottom: 60px;
}

.bz-btn.corange-btn:hover, .get-btn, .corange-btn:hover{
  background: #ff8f44;
}

@media (min-width: 992px){
  .features .circle {
    width: 138px;
    height: 138px;
  }
}


/* end */

.im-h{
  color: red;
  top: 5px;
  position: relative;
  left: 10px;
}


/*mask*/
.theme-popover-mask {
  z-index: 9998;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity:0.4;
  filter:alpha(opacity=40);
  display:none
}
.theme-popover {
  z-index:9999;
  position:fixed;
  top:50%;
  left:50%;
  width:660px;
  height:360px;
  margin:-180px 0 0 -330px;
  border-radius:5px;
  border:solid 2px #666;
  background-color:#fff;
  display:none;
  box-shadow: 0 0 10px #666;
}


.mask {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
}


.show_areabox{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /*background: rgba(0,0,0,.5);*/
  display: none;
  /*visibility: hidden;*/
}

.mask-con{
  width: 745px;
  height: 330px;
  background: url("../images/finwise/bg_closepage.png") no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 9999;
  top: 28%;
  left: 50%;
  margin-left: -372px;
}
.end-act{
  font-size: 48px;
  padding: 80px;
  color: #fff;
}
.maskclose{
  cursor: pointer;
}

.coop-table{
  padding: 60px 0 40px;
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
  .mask-con{
    width: 90%;
    height: 200px;
    margin-left: -45%;
  }
  .end-act {
    font-size: 24px;
    padding: 40px 25px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 375px) {
  .mask-con{
    width: 90%;
    height: 200px;
    margin-left: -45%;
  }
  .end-act {
    font-size: 24px;
    padding: 40px 25px;
  }
}

/*mask end*/

.mrt-t50{
  margin-top: 50px !important;
}
.form-control {
  border: 1px solid #fc4434;
}


.plname-info{
  color: #333;
}

.spe-formwrap{
  margin-top: -510px;
  margin-bottom: 30px;
}

.fm-wrap.spe-formwrap{
  margin-top: -580px;
}

@media screen and (min-width: 1800px){
  .index-bgwrap {
      height: 1000px;
  }

  .clogo-img{
    margin: 280px 74px 80px 0;
    width: 460px;
  }

  .A-wrap {
    width: 1500px;
  }

  .count-wrap .number{
    font-size: 50px;
  }

  .row {
    margin: 20px -15px;
  }

  .ad-fimg{
    margin-top: 50px;
  }
  .fm-wrap.spe-formwrap {
    margin-top: -900px;
  }
}

@media (max-width: 768px){
  .index-bgwrap {
      background: url(../images/finwise/bg-big.jpg) no-repeat;
      width: 100%;
      background-position: center;
      height: 380px;
      background-size: cover;
  }

  .index-bgwrapnew {
      background: url(../images/finwise/bg-big2.jpg) no-repeat;
  }

  .clogo-img{
    margin: 80px 34px 10px 0;
    width: 260px;
  }

  .ad-h2title{
    font-size: 20px;
  }

  .ad-fimg{
    height: 120px;
  }

  .fh-intro{
    font-size: 20px;
  }
  .fm-wrap.spe-formwrap {
    margin-top: -330px;
  }

  .footer-wrap .col-md-3{
    width: 50%;
    float: left;
  }

  .footer-wrap>.count-wrap>ul img{
    height: auto;
  }

  .foot-p {
    padding: 4px;
  }

  .guest-item .col-md-2 {
    height: 245px;
    padding: 4px;
  }

  .data-item .col-md-1{
    width: 33%;
    float: left;
    /*height: 70px;*/
  }

  .count-wrap .number {
      font-size: 26px;
  }

  .title{
    font-size: 12px;
  }

  .photo .row{
    /*width: 100%;*/
    margin: 0 auto;
  }
}

@media only screen and (min-width: 300px) and (max-width: 575px) {
  .data-item .col-md-1{
    width: 50%;
  }
}
/*go-top*/
.go-top {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 30px;
  right: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #29292d;
  z-index: 100;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
}
.go-top.showed-up {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.go-top:hover {
  background-color: #1b96ed;
}
.go-top a {
  color: #fff;
  display: block;
  text-decoration: none;
}
.go-top a i {
  font-size: 11px;
  line-height: inherit;
}
/*go-top end*/


/*finwise 2018 gegin*/





/*.index-fwrap{*/
  /*background: url(../images/finwise-tokyo/index-bg.jpg) no-repeat;*/
/*}*/





